body, table, form, input, td, th, p, textarea, select
{
	font-family: verdana, helvetica, arial;
	font-size: 11px;
}

a:hover { color:#FC0; }

.main-panel { color:#FC0; }

.link { color:#00F;  }
.build-passed-link { color:Green; text-decoration:none; }
.build-failed-link { color:Red; text-decoration:none; }
.buildresults-header { color: #000; font-weight: bold; }
.buildresults-data { color: #000; }
.buildresults-data-failed { color: #F30; }

.stylesection { margin-left: 4px; }
.header-title { font-size:12px; color:#000; font-weight:bold; padding-bottom:10pt; }
.header-label { font-weight:bold; }
.header-data { color:#000; }
.header-data-error { font-family:courier, monospaced; color:#000; white-space:pre; }

.modifications-data { font-size:9px; color:#000; }
.modifications-sectionheader { background-color:#006; color:#FFF; }
.modifications-oddrow { background-color:#F0F7FF; }
.modifications-evenrow { background-color:#FFF; }

.changelists-oddrow { background-color:#F0F7FF; }
.changelists-evenrow { background-color:#FFF; }
.changelists-file-spacer { background-color:#FFF; }
.changelists-file-evenrow { background-color:#FFF; }
.changelists-file-oddrow { background-color:#F0F7FF; }
.changelists-file-header { font-size:9px; background-color:#666; color:#FFF; }

.compile-data { font-size:9px; color:#000; }
.compile-error-data { font-size:9px; color:#F30; white-space:pre; }
.compile-warn-data { font-size:9px; color:#C90; white-space:pre; }
.compile-sectionheader { background-color:#006; color:#FFF; }

.distributables-data { font-size:9px; color:#000; }
.distributables-sectionheader { background-color:#006; color:#FFF; }
.distributables-oddrow { background-color:#F0F7FF; }

.unittests-sectionheader { background-color:#006; color:#FFF; }
.unittests-oddrow { background-color:#F0F7FF; }
.unittests-data { font-size:9px; color:#000; }
.unittests-error { font-size:9px; color:#F30; white-space:pre; }

.javadoc-sectionheader { background-color:#006; color:#FFF; }
.javadoc-oddrow { background-color:#CCC; }
.javadoc-data { font-size:9px; color:#000; }
.javadoc-error { font-size:9px; color:#F30; white-space:pre; }
.javadoc-warning { font-size:9px; color:#000; white-space:pre; }

.section-table { margin-top:10px; }

.fxcop-summary-sectionheader { background-color:#006; color:#FFF; }
.fxcop-summary-oddrow { background-color:#F0F7FF; }
.fxcop-summary-data { font-size:9px; color:#000; }

.warning { color:orange }
.error { color:red }

.RecentBuildsPanel {
	border-style: solid;
	border-width: 1px;
        border-color: #333399;
	margin-bottom:5;
}

.RecentBuildsPanel th 
{
	background-color: #333399;
	text-align: center;
	font-weight: bold;
	padding: 3px;
	color: ivory;
}

.RecentBuildsPanel td {
	padding: 3;
        background-color: white;
}

.breadcrumbs
{
        color: darkgrey;
}
.breadcrumbs a {
        color: ivory;
        text-decoration: none;
}

.breadcrumbs a:hover 
{ 
        color:#FC0; 
}