<?xml version="1.0" encoding="utf-8" ?> 
<dashboard>
	<remoteServices>
		<servers>
			<!-- Update this list to include all the servers you want to connect to. NB - each server name must be unique -->
			<server name="local" url="tcp://localhost:21234/CruiseManager.rem" />
		</servers>
	</remoteServices>
	<plugins>
		<farmPlugins>
			<farmReportFarmPlugin />
		</farmPlugins>
		<serverPlugins>
			<serverReportServerPlugin />
			<serverLogServerPlugin />
			<serverInformationServerPlugin />
		</serverPlugins>
		<projectPlugins>
			<projectReportProjectPlugin />
			<viewAllBuildsProjectPlugin />
		</projectPlugins>
		<buildPlugins>
			<buildReportBuildPlugin>
				<xslFileNames>
					<xslFile>xsl\header.xsl</xslFile>
					<xslFile>xsl\modifications.xsl</xslFile>
					<xslFile>xsl\compile.xsl</xslFile>
					<xslFile>xsl\unittests.xsl</xslFile>
					<xslFile>xsl\fxcop-summary.xsl</xslFile>
					<xslFile>xsl\NCoverSummary.xsl</xslFile>
					<xslFile>xsl\SimianSummary.xsl</xslFile>
				</xslFileNames>
			</buildReportBuildPlugin>
			<buildLogBuildPlugin />
			<xslReportBuildPlugin description="NUnit Details" actionName="NUnitDetailsBuildReport" xslFileName="xsl\tests.xsl" />
			<xslReportBuildPlugin description="NUnit Timings" actionName="NUnitTimingsBuildReport" xslFileName="xsl\timing.xsl" />
			<xslReportBuildPlugin description="NAnt Output" actionName="NAntOutputBuildReport" xslFileName="xsl\Nant.xsl" />
			<xslReportBuildPlugin description="NAnt Timings" actionName="NAntTimingsBuildReport" xslFileName="xsl\NantTiming.xsl" />
			<xslReportBuildPlugin description="FxCop Report" actionName="FxCopBuildReport" xslFileName="xsl\FxCopReport.xsl" />
			<xslReportBuildPlugin description="NCover Report" actionName="NCoverBuildReport" xslFileName="xsl\NCover.xsl" />
			<xslReportBuildPlugin description="Simian Report" actionName="SimianBuildReport" xslFileName="xsl\SimianReport.xsl"/>
			<!-- This is an example of using Project-specific build plugins
			<xslReportBuildPlugin description="My Report" actionName="MyReport" xslFileName="xsl\MyReport.xsl">
				<includedProjects>
					<projectName>My Project</projectName>
				</includedProjects>
			</xslReportBuildPlugin>
			<xslReportBuildPlugin description="My Other Report" actionName="MyOtherReport" xslFileName="xsl\MyOtherReport.xsl">
				<excludedProjects>
					<projectName>My Project</projectName>
				</excludedProjects>
			</xslReportBuildPlugin>
			-->
		</buildPlugins>
	</plugins>
</dashboard>