<?xml version="1.0" encoding="utf-8" ?> 
<dashboard>
	<remoteServices>
		<servers>
			<!-- Update this list to include all the servers you want to connect to. NB - each server name must be unique -->
			<server name="local" url="tcp://localhost:21234/CruiseManager.rem" />
		</servers>
	</remoteServices>
	<plugins>
		<farmPlugins>
			<farmReportFarmPlugin />
		</farmPlugins>
		<serverPlugins>
			<serverReportServerPlugin />
			<serverLogServerPlugin />
		</serverPlugins>
		<projectPlugins>
			<projectReportProjectPlugin />
			<viewAllBuildsProjectPlugin />
		</projectPlugins>
		<buildPlugins>
			<buildReportBuildPlugin>
				<xslFileNames>
					<xslFile>xsl\header.xsl</xslFile>
					<xslFile>xsl\compile.xsl</xslFile>
					<xslFile>xsl\unittests.xsl</xslFile>
					<xslFile>xsl\fit.xsl</xslFile>
					<xslFile>xsl\modifications.xsl</xslFile>
					<xslFile>xsl\fxcop-summary.xsl</xslFile>
				</xslFileNames>
			</buildReportBuildPlugin>
			<buildLogBuildPlugin />
			<xslReportPlugin description="NUnit Details" actionName="NUnitDetailsBuildReport" xslFileName="xsl\tests.xsl" />
			<xslReportPlugin description="NUnit Timings" actionName="NUnitTimingsBuildReport" xslFileName="xsl\timing.xsl" />
			<xslReportPlugin description="NAnt Output" actionName="NAntOutputBuildReport" xslFileName="xsl\Nant.xsl" />
			<xslReportPlugin description="FxCop Report" actionName="FxCopBuildReport" xslFileName="xsl\FxCopReport.xsl" />
			<xslReportPlugin description="NCover Report" actionName="NCoverBuildReport" xslFileName="xsl\NCover.xsl" />
		</buildPlugins>
	</plugins>
</dashboard>