<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="CCNet">
			<section name="servers" type="ThoughtWorks.CruiseControl.WebDashboard.Config.ServersSectionHandler,ThoughtWorks.CruiseControl.WebDashboard" />
			<section name="xslFiles" type="ThoughtWorks.CruiseControl.Core.Config.XslFilesSectionHandler,ThoughtWorks.CruiseControl.Core" />
			<section name="plugins" type="ThoughtWorks.CruiseControl.WebDashboard.Config.PluginsSectionHandler,ThoughtWorks.CruiseControl.WebDashboard" />
		</sectionGroup>
		<sectionGroup name="sitemesh">
			<section name="page-parsers" type="SiteMesh.Factory.PageParsersSectionHandler, SiteMesh" />
			<section name="decorator-mappers" type="SiteMesh.Factory.DecoratorMappersSectionHandler, SiteMesh" />
			<section name="decorators" type="SiteMesh.Mapper.DecoratorSectionHandler, SiteMesh" />
		</sectionGroup>
	</configSections>
	<system.web>
		<httpModules>
			<add type="SiteMesh.Filter.SiteMeshModule, SiteMesh" name="SiteMesh" />
		</httpModules>
		<compilation defaultLanguage="c#" debug="true" />
		<customErrors mode="RemoteOnly" />
		<authentication mode="Windows" />
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password="
			cookieless="false" timeout="20" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
	<appSettings>
		<add key="cachedirectory" value="projectcache" />
	</appSettings>
	<CCNet>
		<servers>
			<server name="local" url="tcp://localhost:21234/CruiseManager.rem" />
		</servers>
		<plugins>
			<plugin typeName="ThoughtWorks.CruiseControl.WebDashboard.Plugins.ServerLogViewerPlugin.ServerLogViewer" />
			<plugin typeName="ThoughtWorks.CruiseControl.WebDashboard.Plugins.ProjectReporterPlugin.LatestProjectReporter" />
			<plugin typeName="ThoughtWorks.CruiseControl.WebDashboard.Plugins.ProjectReporterPlugin.NextProjectReporter" />
			<plugin typeName="ThoughtWorks.CruiseControl.WebDashboard.Plugins.ProjectReporterPlugin.PreviousProjectReporter" />
			<plugin typeName="ThoughtWorks.CruiseControl.WebDashboard.Plugins.ProjectReporterPlugin.ProjectReporter" />
			<plugin typeName="ThoughtWorks.CruiseControl.WebDashboard.Plugins.LogViewerPlugin.LogViewer" />
		</plugins>
		<xslFiles>
			<file name="xsl\header.xsl" />
			<file name="xsl\compile.xsl" />
			<file name="xsl\unittests.xsl" />
			<file name="xsl\fit.xsl" />
			<file name="xsl\modifications.xsl" />
			<file name="xsl\fxcop-summary.xsl" />
		</xslFiles>
	</CCNet>
	<sitemesh>
		<decorators defaultdir="">
			<decorator name="project" page="Decorator.aspx">
				<pattern>*</pattern>
			</decorator>
		</decorators>
		<page-parsers>
			<parser default="true" type="SiteMesh.Parser.HtmlPageParser, SiteMesh" />
			<parser content-type="text/html" type="SiteMesh.Parser.HtmlPageParser, SiteMesh" />
		</page-parsers>
		<decorator-mappers>
			<mapper type="SiteMesh.Mapper.ConfigDecoratorMapper, SiteMesh" />
		</decorator-mappers>
	</sitemesh>
</configuration>
