<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="CCNet">
			<section name="servers" type="ThoughtWorks.CruiseControl.WebDashboard.Config.ServersSectionHandler,ThoughtWorks.CruiseControl.WebDashboard" />
			<section name="xslFiles" type="ThoughtWorks.CruiseControl.Core.Config.XslFilesSectionHandler,ThoughtWorks.CruiseControl.Core" />
		</sectionGroup>
		<sectionGroup name="sitemesh">
			<section name="page-parsers" type="SiteMesh.Factory.PageParsersSectionHandler, SiteMesh" />
			<section name="decorator-mappers" type="SiteMesh.Factory.DecoratorMappersSectionHandler, SiteMesh" />
			<section name="decorators" type="SiteMesh.Mapper.DecoratorSectionHandler, SiteMesh" />
		</sectionGroup>
	</configSections>
	<CCNet>
		<servers>
			<!-- Update this list to include all the servers you want to connect to. NB - each server name must be unique -->
			<server name="local" url="tcp://localhost:21234/CruiseManager.rem" />
		</servers>
		<xslFiles>
			<file name="xsl\header.xsl" />
			<file name="xsl\compile.xsl" />
			<file name="xsl\unittests.xsl" />
			<file name="xsl\fit.xsl" />
			<file name="xsl\modifications.xsl" />
			<file name="xsl\fxcop-summary.xsl" />
		</xslFiles>
	</CCNet>
	<appSettings>
		<add key="cachedirectory" value="projectcache" />
		<!-- 
			Only Turn this on (i.e. uncomment it) if you want *anyone* that can access the dashboard able to add / edit / delete projects
		<add key="AllowSecureActions" value="true" />
			NB - make sure you really want to do this!!
		-->
	</appSettings>
	<system.web>
		<httpModules>
			<add type="SiteMesh.Filter.SiteMeshModule, SiteMesh" name="SiteMesh" />
		</httpModules>
		<compilation defaultLanguage="c#" debug="true" />
		<customErrors mode="RemoteOnly" />
		<authentication mode="Windows" />
		<!--  APPLICATION-LEVEL TRACE LOGGING
			Application-level tracing enables trace log output for every page within an application. 
			Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
			trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
			application trace log by browsing the "trace.axd" page from your web application
			root. 
		-->
		<trace
			enabled="false"
			requestLimit="10"
			pageOutput="true"
			traceMode="SortByTime"
			localOnly="true"
		/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password="
			cookieless="false" timeout="20" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
	<sitemesh>
		<decorators defaultdir="">
			<decorator name="project" page="Decorator.aspx">
				<pattern>*</pattern>
			</decorator>
		</decorators>
		<page-parsers>
			<parser default="true" type="SiteMesh.Parser.HtmlPageParser, SiteMesh" />
			<parser content-type="text/html" type="SiteMesh.Parser.HtmlPageParser, SiteMesh" />
		</page-parsers>
		<decorator-mappers>
			<mapper type="SiteMesh.Mapper.ConfigDecoratorMapper, SiteMesh" />
		</decorator-mappers>
	</sitemesh>
</configuration>
