<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Change this if (for example) you want to keep your dashboard config file under source control -->
		<add key="DashboardConfigLocation" value="dashboard.config" />
	</appSettings>

	<system.web>
		<httpHandlers>
			<!-- Yes, we are overriding .aspx - don't delete this! We are using .aspx since we know it is already bound to ASP.NET. In future we might use a 
				different extension so that people can add their own ASP.NET pages if they want to, but we should make sure in that case to change how 
				URLs are created -->
			<add verb="*" path="*.aspx" type="ThoughtWorks.CruiseControl.WebDashboard.MVC.ASPNET.HttpHandler,ThoughtWorks.CruiseControl.WebDashboard"/>
			<add verb="*" path="*.xml" type="ThoughtWorks.CruiseControl.WebDashboard.MVC.ASPNET.HttpHandler,ThoughtWorks.CruiseControl.WebDashboard"/>
		</httpHandlers>
		<compilation defaultLanguage="c#" debug="true" />
		<customErrors mode="RemoteOnly" />
		<authentication mode="Windows" />
		<!--  APPLICATION-LEVEL TRACE LOGGING
			Application-level tracing enables trace log output for every page within an application. 
			Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
			trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
			application trace log by browsing the "trace.axd" page from your web application
			root. 
		-->
		<trace
			enabled="false"
			requestLimit="10"
			pageOutput="true"
			traceMode="SortByTime"
			localOnly="true"
		/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password="
			cookieless="false" timeout="20" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
  <!-- Handle backwards compatibility with previous versions of NetReflector (for plug-ins etc.) -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NetReflector" publicKeyToken="2f4dd8b32acbcd8e" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.120" newVersion="1.1.2009.1004"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- Enable the handles in IIS 7.0 or later-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add verb="*" path="*.aspx" type="ThoughtWorks.CruiseControl.WebDashboard.MVC.ASPNET.HttpHandler,ThoughtWorks.CruiseControl.WebDashboard" name="CCNetHandler"/>
    </handlers>
  </system.webServer>
</configuration>
