<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <!-- location of cruise control server -->
    <add key="cc.net.url" value="tcp://bp1hemap048:1234/CruiseManager.rem"/>
    <!-- server polling interval in seconds -->
    <add key="check.interval" value="15"/>
  </appSettings>
</configuration>
