<?xml version="1.0" encoding="utf-8"?>
<Assembly name="System">
 <Type kind="class" namespace="System" name="System.ComponentModel.LicenseException">
  <Field name="m_paramName" type="System.String" access="private" />
  <Property name="Message" type="System.String" access="public">
   <Getter name="get_Message" />
  </Property>
  <Method name="get_Message">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Property name="ParamName" type="System.String" access="public">
   <Getter name="get_ParamName" />
  </Property>
  <Method name="get_ParamName">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
  <Method name="GetObjectData" access="public">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
 </Type>
 <Type kind="class" namespace="System" name="System.ComponentModel.InvalidEnumArgumentException">
  <Field name="m_paramName" type="System.String" access="private" />
  <Property name="Message" type="System.String" access="public">
   <Getter name="get_Message" />
  </Property>
  <Method name="get_Message">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Property name="ParamName" type="System.String" access="public">
   <Getter name="get_ParamName" />
  </Property>
  <Method name="get_ParamName">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
  <Method name="GetObjectData" access="public">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
 </Type>
 <Type kind="class" namespace="System" name="System.ComponentModel.WarningException">
  <Field name="m_paramName" type="System.String" access="private" />
  <Property name="Message" type="System.String" access="public">
   <Getter name="get_Message" />
  </Property>
  <Method name="get_Message">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Property name="ParamName" type="System.String" access="public">
   <Getter name="get_ParamName" />
  </Property>
  <Method name="get_ParamName">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
  <Method name="GetObjectData" access="public">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
 </Type>
 <Type kind="class" namespace="System" name="System.ComponentModel.Win32Exception">
  <Field name="m_paramName" type="System.String" access="private" />
  <Property name="Message" type="System.String" access="public">
   <Getter name="get_Message" />
  </Property>
  <Method name="get_Message">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Property name="ParamName" type="System.String" access="public">
   <Getter name="get_ParamName" />
  </Property>
  <Method name="get_ParamName">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
  <Method name="GetObjectData" access="public">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
 </Type>
 <Type kind="class" namespace="System" name="System.ComponentModel.Design.CheckoutException">
  <Field name="m_paramName" type="System.String" access="private" />
  <Property name="Message" type="System.String" access="public">
   <Getter name="get_Message" />
  </Property>
  <Method name="get_Message">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Property name="ParamName" type="System.String" access="public">
   <Getter name="get_ParamName" />
  </Property>
  <Method name="get_ParamName">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
  <Method name="GetObjectData" access="public">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
 </Type>
 <Type kind="class" namespace="System" name="System.UriFormatException">
  <Field name="m_paramName" type="System.String" access="private" />
  <Property name="Message" type="System.String" access="public">
   <Getter name="get_Message" />
  </Property>
  <Method name="get_Message">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Property name="ParamName" type="System.String" access="public">
   <Getter name="get_ParamName" />
  </Property>
  <Method name="get_ParamName">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
  <Method name="GetObjectData" access="public">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
 </Type>
 <Type kind="class" namespace="System" name="System.Net.CookieException">
  <Field name="m_paramName" type="System.String" access="private" />
  <Property name="Message" type="System.String" access="public">
   <Getter name="get_Message" />
  </Property>
  <Method name="get_Message">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Property name="ParamName" type="System.String" access="public">
   <Getter name="get_ParamName" />
  </Property>
  <Method name="get_ParamName">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
  <Method name="GetObjectData" access="public">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
 </Type>
 <Type kind="class" namespace="System" name="System.Net.ProtocolViolationException">
  <Field name="m_paramName" type="System.String" access="private" />
  <Property name="Message" type="System.String" access="public">
   <Getter name="get_Message" />
  </Property>
  <Method name="get_Message">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Property name="ParamName" type="System.String" access="public">
   <Getter name="get_ParamName" />
  </Property>
  <Method name="get_ParamName">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
  <Method name="GetObjectData" access="public">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
 </Type>
 <Type kind="class" namespace="System" name="System.Net.Sockets.SocketException">
  <Field name="m_paramName" type="System.String" access="private" />
  <Property name="Message" type="System.String" access="public">
   <Getter name="get_Message" />
  </Property>
  <Method name="get_Message">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Property name="ParamName" type="System.String" access="public">
   <Getter name="get_ParamName" />
  </Property>
  <Method name="get_ParamName">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
  <Method name="GetObjectData" access="public">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
 </Type>
 <Type kind="class" namespace="System" name="System.Net.WebException">
  <Field name="m_paramName" type="System.String" access="private" />
  <Property name="Message" type="System.String" access="public">
   <Getter name="get_Message" />
  </Property>
  <Method name="get_Message">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Property name="ParamName" type="System.String" access="public">
   <Getter name="get_ParamName" />
  </Property>
  <Method name="get_ParamName">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
  <Method name="GetObjectData" access="public">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
 </Type>
 <Type kind="class" namespace="System" name="System.Configuration.ConfigurationException">
  <Field name="m_paramName" type="System.String" access="private" />
  <Property name="Message" type="System.String" access="public">
   <Getter name="get_Message" />
  </Property>
  <Method name="get_Message">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Property name="ParamName" type="System.String" access="public">
   <Getter name="get_ParamName" />
  </Property>
  <Method name="get_ParamName">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
  <Method name="GetObjectData" access="public">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
 </Type>
 <Type kind="class" namespace="System" name="System.IO.InternalBufferOverflowException">
  <Field name="m_paramName" type="System.String" access="private" />
  <Property name="Message" type="System.String" access="public">
   <Getter name="get_Message" />
  </Property>
  <Method name="get_Message">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Property name="ParamName" type="System.String" access="public">
   <Getter name="get_ParamName" />
  </Property>
  <Method name="get_ParamName">
   <ReturnValue type="System.String" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters />
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
    <Parameter name="innerException" type="System.Exception" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="message" type="System.String">
     <Attribute name="Localized" />
    </Parameter>
    <Parameter name="paramName" type="System.String" />
   </Parameters>
  </Method>
  <Method name=".ctor">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
  <Method name="GetObjectData" access="public">
   <ReturnValue type="System.Void" />
   <Parameters>
    <Parameter name="info" type="System.Runtime.Serialization.SerializationInfo" />
    <Parameter name="context" type="System.Runtime.Serialization.StreamingContext" />
   </Parameters>
  </Method>
 </Type>
</Assembly>
