; The initial version of the file containing the default values for cake) was downloaded from https://github.com/cake-build/resources

[Nuget]
Source=https://api.nuget.org/v3/index.json
UseInProcessClient=true
LoadDependencies=false

[Paths]
Tools=./Tools/Cake
Addins=./Tools/Cake/Addins
Modules=./Tools/Cake/Modules

[Settings]
SkipVerification=true