<?xml version="1.0" encoding="Windows-1252" ?>
<configuration>
    <!-- Leave this alone. Sets up configsectionhandler section -->
    <configSections>
        <section name="nant" type="NAnt.Core.ConfigurationSection, NAnt.Core" />
        <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    </configSections>
    <appSettings>
        <!-- Used to indicate the location of the cache folder for shadow files -->
        <add key="shadowfiles.path" value="%temp%\nunit20\ShadowCopyCache" />
        <!-- Used to indicate that NAnt should shadow files in a cache folder near the executable -->
        <add key="nant.shadowfiles" value="False" />
        <!-- Used to indicate if cached files should be delete when done running-->
        <add key="nant.shadowfiles.cleanup" value="False" />
        <!-- To enable internal log4net logging, uncomment the next line -->
        <!-- <add key="log4net.Internal.Debug" value="true"/> -->
    </appSettings>
    <!-- nant config settings -->
    <nant>
        <frameworks>
            <platform name="win32" default="auto">
                <task-assemblies>
                        <!-- include NAnt task assemblies -->
                        <includes name="*Tasks.dll" />
                        <!-- include NAnt test assemblies -->
                        <includes name="*Tests.dll" />
                        <!-- include framework-neutral assemblies -->
                        <includes name="tasks/*.dll" />
                        <!-- exclude Microsoft.NET specific task assembly -->
                        <excludes name="NAnt.MSNetTasks.dll" />
                        <!-- exclude Microsoft.NET specific test assembly -->
                        <excludes name="NAnt.MSNet.Tests.dll" />
                </task-assemblies>
                <framework 
                    name="net-1.0" 
                    family="net" 
                    version="1.0"
                    description="Microsoft .NET Framework 1.0"
                    runtimeengine=""
                    sdkdirectory="${sdkInstallRoot}bin" 
                    frameworkdirectory="${installRoot}v1.0.3705" 
                    frameworkassemblydirectory="${installRoot}v1.0.3705"
                    clrversion="1.0.3705"
                    >
                    <task-assemblies>
                        <!-- include .NET specific assemblies -->
                        <includes name="tasks/net/*.dll" />
                        <!-- include .NET 1.0 specific assemblies -->
                        <includes name="tasks/net/1.0/**/*.dll" />
                        <!-- include Microsoft.NET specific task assembly -->
                        <includes name="NAnt.MSNetTasks.dll" />
                        <!-- exclude Microsoft.NET specific test assembly -->
                        <includes name="NAnt.MSNet.Tests.dll" />
                    </task-assemblies>
                    <project>
                        <readregistry property="sdkInstallRoot" key="SOFTWARE\Microsoft\.NETFramework\sdkInstallRoot" hive="LocalMachine" />
                        <readregistry property="installRoot" key="SOFTWARE\Microsoft\.NETFramework\InstallRoot" hive="LocalMachine" />
                    </project>
                    <tasks>
                        <task name="csc">
                            <attribute name="exename">csc</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="vbc">
                            <attribute name="exename">vbc</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="jsc">
                            <attribute name="exename">jsc</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="vjc">
                            <attribute name="exename">vjc</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="resgen">
                            <attribute name="exename">resgen</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="al">
                            <attribute name="exename">al</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="delay-sign">
                            <attribute name="exename">sn</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                    </tasks>
                </framework>
                <framework 
                    name="net-1.1" 
                    family="net" 
                    version="1.1"
                    description="Microsoft .NET Framework 1.1" 
                    runtimeengine=""
                    sdkdirectory="${sdkInstallRoot}bin" 
                    frameworkdirectory="${installRoot}v1.1.4322" 
                    frameworkassemblydirectory="${installRoot}v1.1.4322"
                    clrversion="1.1.4322"
                    >
                    <task-assemblies>
                        <!-- include .NET specific assemblies -->
                        <includes name="tasks/net/*.dll" />
                        <!-- include .NET 1.1 specific assemblies -->
                        <includes name="tasks/net/1.1/**/*.dll" />
                        <!-- include Microsoft.NET specific task assembly -->
                        <includes name="NAnt.MSNetTasks.dll" />
                        <!-- exclude Microsoft.NET specific test assembly -->
                        <includes name="NAnt.MSNet.Tests.dll" />
                    </task-assemblies>
                    <project>
                        <readregistry property="sdkInstallRoot" key="SOFTWARE\Microsoft\.NETFramework\sdkInstallRootv1.1" hive="LocalMachine" />
                        <readregistry property="installRoot" key="SOFTWARE\Microsoft\.NETFramework\InstallRoot" hive="LocalMachine" />
                    </project>
                    <tasks>
                        <task name="csc">
                            <attribute name="exename">csc</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="vbc">
                            <attribute name="exename">vbc</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="jsc">
                            <attribute name="exename">jsc</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="vjc">
                            <attribute name="exename">vjc</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="resgen">
                            <attribute name="exename">resgen</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="al">
                            <attribute name="exename">al</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="delay-sign">
                            <attribute name="exename">sn</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                    </tasks>
                </framework>
                <framework 
                    name="net-2.0" 
                    family="net" 
                    version="2.0" 
                    description="Microsoft .NET Framework 2.0" 
                    runtimeengine=""
                    sdkdirectory="${sdkInstallRoot}bin" 
                    frameworkdirectory="${installRoot}v2.0.40301" 
                    frameworkassemblydirectory="${installRoot}v2.0.40301"
                    clrversion="2.0.40301"
                    >
                    <task-assemblies>
                        <!-- include .NET specific assemblies -->
                        <includes name="tasks/net/*.dll" />
                        <!-- include .NET 2.0 specific assemblies -->
                        <includes name="tasks/net/2.0/**/*.dll" />
                        <!-- include Microsoft.NET specific task assembly -->
                        <includes name="NAnt.MSNetTasks.dll" />
                        <!-- exclude Microsoft.NET specific test assembly -->
                        <includes name="NAnt.MSNet.Tests.dll" />
                    </task-assemblies>
                    <project>
                        <readregistry property="sdkInstallRoot" key="SOFTWARE\Microsoft\.NETFramework\sdkInstallRootv2.0" hive="LocalMachine" />
                        <readregistry property="installRoot" key="SOFTWARE\Microsoft\.NETFramework\InstallRoot" hive="LocalMachine" />
                    </project>
                    <tasks>
                        <task name="csc">
                            <attribute name="exename">csc</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="vbc">
                            <attribute name="exename">vbc</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="jsc">
                            <attribute name="exename">jsc</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="vjc">
                            <attribute name="exename">vjc</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="resgen">
                            <attribute name="exename">resgen</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="al">
                            <attribute name="exename">al</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="delay-sign">
                            <attribute name="exename">sn</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                    </tasks>
                </framework>
                <framework 
                    name="netcf-1.0" 
                    family="netcf" 
                    version="1.0"
                    description="Microsoft .NET Compact Framework 1.0" 
                    runtimeengine="" 
                    sdkdirectory="${sdkInstallRoot}v1.0.5000\bin" 
                    frameworkdirectory="${installRoot}v1.1.4322" 
                    frameworkassemblydirectory="${sdkInstallRoot}v1.0.5000\Windows CE"
                    clrversion="1.1.4322"
                    >
                    <task-assemblies>
                        <!-- this is not a supported runtime framework -->
                    </task-assemblies>
                    <project>
                        <readregistry property="sdkInstallRoot" key="SOFTWARE\Microsoft\.NETCompactFramework\sdkInstallRoot" hive="LocalMachine" />
                        <readregistry property="installRoot" key="SOFTWARE\Microsoft\.NETFramework\InstallRoot" hive="LocalMachine" />
                    </project>
                    <tasks>
                        <task name="csc">
                            <attribute name="exename">csc</attribute>
                            <attribute name="noconfig">true</attribute>
                            <attribute name="nostdlib">true</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="vbc">
                            <attribute name="exename">vbc</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="resgen">
                            <attribute name="exename">cfresgen</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="al">
                            <attribute name="exename">al</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="delay-sign">
                            <attribute name="exename">sn</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                    </tasks>
                </framework>
                <framework 
                    name="mono-1.0"
                    family="mono"
                    version="1.0"
                    description="GNOME projects port of the .NET Framework"
                    runtimeengine="${path::combine(sdkInstallRoot, 'bin/mono.exe')}"
                    sdkdirectory="${path::combine(sdkInstallRoot, 'bin')}"
                    frameworkdirectory="${frameworkAssemblyDirectory}"
                    frameworkassemblydirectory="${path::combine(frameworkAssemblyDirectory, 'mono/1.0')}"
                    clrversion="1.1.4322"
                    >
                    <task-assemblies>
                        <!-- include Mono specific assemblies -->
                        <includes name="tasks/mono/*.dll" />
                        <!-- include Mono 1.0 specific assemblies -->
                        <includes name="tasks/mono/1.0/**/*.dll" />
                    </task-assemblies>
                    <project>
                        <property name="internalversion" value="0.91" />
                        <readregistry property="sdkInstallRoot" key="SOFTWARE\Mono\${internalversion}\SdkInstallRoot" hive="LocalMachine" />
                        <readregistry property="frameworkAssemblyDirectory" key="SOFTWARE\Mono\${internalversion}\FrameworkAssemblyDirectory" hive="LocalMachine" />
                        <readregistry property="configDir" key="SOFTWARE\Mono\${internalversion}\MonoConfigDir" hive="LocalMachine" />
                    </project>
                    <properties>
                    </properties>
                    <environment>
                        <env name="PATH" path="${frameworkAssemblyDirectory};${sdkInstallRoot}\icu\bin;%PATH%" />
                        <env name="MONO_BASEPATH" path="${sdkInstallRoot};%MONO_BASEPATH%" />
                        <env name="MONO_PATH" path="${frameworkAssemblyDirectory};%MONO_PATH%" />
                        <env name="MONO_CFG_DIR" path="${configDir};%MONO_CFG_DIR%" />
                    </environment>
                    <tasks>
                        <task name="al">
                            <attribute name="exename">al</attribute>
                            <attribute name="useruntimeengine">true</attribute>
                        </task>
                        <task name="csc">
                            <attribute name="exename">mcs</attribute>
                            <attribute name="useruntimeengine">true</attribute>
                        </task>
                        <task name="vbc">
                            <attribute name="exename">mbas</attribute>
                            <attribute name="useruntimeengine">true</attribute>
                        </task>
                        <task name="resgen">
                            <attribute name="exename">monoresgen</attribute>
                            <attribute name="useruntimeengine">true</attribute>
                        </task>
                        <task name="delay-sign">
                            <attribute name="exename">monosn</attribute>
                            <attribute name="useruntimeengine">true</attribute>
                        </task>
                    </tasks>
                </framework>
                <framework 
                    name="sscli-1.0" 
                    family="sscli"
                    version="1.0"
                    description="Microsoft Shared Source CLI 1.0" 
                    runtimeengine="C:\sscli\build\v1.x86fstchk.rotor\clix.exe" 
                    sdkdirectory="C:\sscli\build\v1.x86fstchk.rotor\sdk\bin" 
                    frameworkdirectory="C:\sscli\build\v1.x86fstchk.rotor"
                    frameworkassemblydirectory="C:\sscli\build\v1.x86fstchk.rotor"
                    clrversion="1.0.3"
                    >
                    <task-assemblies>
                        <!-- this is not a supported runtime framework -->
                    </task-assemblies>
                    <project />
                    <tasks>
                        <task name="csc">
                            <attribute name="exename">csc</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="jsc">
                            <attribute name="exename">jsc</attribute>
                            <attribute name="useruntimeengine">true</attribute>
                        </task>
                        <task name="resgen">
                            <attribute name="exename">resgen</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="al">
                            <attribute name="exename">al</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                        <task name="delay-sign">
                            <attribute name="exename">sn</attribute>
                            <attribute name="useruntimeengine">false</attribute>
                        </task>
                    </tasks>
                </framework>
            </platform>
            <platform name="unix" default="auto">
                <task-assemblies>
                        <!-- include NAnt task assemblies -->
                        <includes name="*Tasks.dll" />
                        <!-- include NAnt test assemblies -->
                        <includes name="*Tests.dll" />
                        <!-- include framework-neutral assemblies -->
                        <includes name="tasks/*.dll" />
                        <!-- exclude Microsoft.NET specific task assembly -->
                        <excludes name="NAnt.MSNetTasks.dll" />
                        <!-- exclude Microsoft.NET specific test assembly -->
                        <excludes name="NAnt.MSNet.Tests.dll" />
                        <!-- exclude win32 specific task assembly -->
                        <excludes name="NAnt.Win32Tasks.dll" />
                        <!-- exclude win32 specific test assembly -->
                        <excludes name="NAnt.Win32.Tests.dll" />
                </task-assemblies>
                <framework 
                    name="mono-1.0" 
                    family="mono" 
                    version="1.0"
                    description="GNOME projects port of the .NET Framework" 
                    runtimeengine="/usr/local/bin/mono" 
                    sdkdirectory="/usr/local/bin" 
                    frameworkdirectory="/usr/local/bin"
                    frameworkassemblydirectory="/usr/local/lib"
                    clrversion="1.1.4322"
                    >
                    <task-assemblies>
                        <!-- include Mono specific assemblies -->
                        <includes name="tasks/mono/*.dll" />
                        <!-- include Mono 1.0 specific assemblies -->
                        <includes name="tasks/mono/1.0/**/*.dll" />
                    </task-assemblies>
                    <properties />
                    <tasks>
                        <task name="al">
                            <attribute name="exename">al</attribute>
                            <attribute name="useruntimeengine">true</attribute>
                        </task>
                        <task name="csc">
                            <attribute name="exename">mcs</attribute>
                            <attribute name="useruntimeengine">true</attribute>
                        </task>
                        <task name="vbc">
                            <attribute name="exename">mbas</attribute>
                            <attribute name="useruntimeengine">true</attribute>
                        </task>
                        <task name="resgen">
                            <attribute name="exename">monoresgen</attribute>
                            <attribute name="useruntimeengine">true</attribute>
                        </task>
                        <task name="delay-sign">
                            <attribute name="exename">monosn</attribute>
                            <attribute name="useruntimeengine">true</attribute>
                        </task>
                    </tasks>
                </framework>
            </platform>
        </frameworks>
        <!-- Default properties -->
        <properties>
            <!-- add global properties here in the following format-->
            <!-- <property name="foo" value = "bar" readonly="false" /> -->
        </properties>
    </nant>
    <!--
        This section contains the log4net configuration settings.

        By default, no messages will be logged to the log4net logging infrastructure.

        To enable the internal logging, set the threshold attribute on the log4net element
        to "ALL".

        When internal logging is enabled, internal messages will be written to the 
        console.
    -->
    <log4net threshold="OFF">
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="[%c{2}:%m  - [%x] &lt;%X{auth}&gt;]%n" />
            </layout>
        </appender>
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="${APPDATA}\\NAnt\\NAnt.log" />
            <param name="AppendToFile" value="true" />
            <param name="MaxSizeRollBackups" value="2" />
            <param name="MaximumFileSize" value="500KB" />
            <param name="RollingStyle" value="Size" />
            <param name="StaticLogFileName" value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="[%c{2}:%m  - [%x] &lt;%X{auth}&gt;]%n" />
            </layout>
        </appender>
        <!-- Setup the root category, add the appenders and set the default level -->
        <root>
            <!-- Only log messages with severity ERROR (or higher) -->
            <level value="ERROR" />
            <!-- Log messages to the console -->
            <appender-ref ref="ConsoleAppender" />
            <!-- Uncomment the next line to enable logging messages to the NAnt.log file -->
            <!-- <appender-ref ref="RollingLogFileAppender" /> -->
        </root>
        <!-- Specify the priority for some specific categories -->
        <!--
        <logger name="NAnt.Core.TaskBuilderCollection">
            <level value="DEBUG" />
        </logger>
        <logger name="NAnt">
            <level value="INFO" />
        </logger>
        -->
    </log4net>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="lib" />
        </assemblyBinding>
    </runtime>
    <startup>
    <!-- 
        <supportedRuntime version="v2.0.40301" /> 
    -->
        <supportedRuntime version="v1.1.4322" />
        <supportedRuntime version="v1.0.3705" />
    </startup>
</configuration>
