<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<configSections>
		<section name="xslFiles" type="ThoughtWorks.CruiseControl.Core.Config.XslFilesSectionHandler,ThoughtWorks.CruiseControl.Core"/>
	</configSections>
	<xslFiles>
		<file name="xsl\header.xsl"/>
		<file name="xsl\compile.xsl"/>
		<file name="xsl\unittests.xsl"/>
		<file name="xsl\fit.xsl"/>
		<file name="xsl\modifications.xsl"/>
	</xslFiles>
	<appSettings>
		<add key="NAnt.Logger" value="NAnt.Core.XmlLogger"/>
	</appSettings>
</configuration>
