<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="toolTip.ShowAlways" value="False" />
    <add key="shadowfiles.path" value="%temp%\nunit20\ShadowCopyCache" />
    
    <!--   Uncomment the following line to run tests in the STA -->
    <!--  <add key="apartment" value="STA" /> -->
  </appSettings>
  
  <startup>
	<requiredRuntime version="v1.0.3705" />
	<supportedRuntime version="v1.1.4322" />
	<supportedRuntime version="v1.0.3705" />
  </startup>

</configuration>