<!-- ActionException.vm: Start -->
#if ($exception.GetType().Name == "PermissionDeniedException")
<div class="ui-widget">
  <div class="ui-state-error ui-corner-all" style="padding: 0pt 0.7em; margin-top: 20px;">
    <p>
      <span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span>
		<div>
			<b>You do not have permission for this action</b><br/>
			Please contact your build administrator.
		</div>
    </p>
  </div>
</div>
#elseif ($exception.GetType().Name == "SessionInvalidException")
<div class="ui-widget">
  <div class="ui-state-error ui-corner-all" style="padding: 0pt 0.7em; margin-top: 20px;">
    <p>
      <span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span>
		<div>
			<b>Your session is invalid</b><br/>
			Please login again or contact your build administrator.
		</div>
    </p>
  </div>
</div>
#else
<div class="ui-widget">
	<div class="ui-state-error ui-corner-all"> 
		<p><span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span>
		There was an exception trying to carry out your request.</p>
	</div>
</div>

<h2>Exception Message</h2>
<p>$exception.Message</p>
<h2>Exception Full Details</h2>
<div style="white-space:pre-wrap;">$exception.ToString()</div>
#end
<!-- ActionException.vm: End -->