<h3>Dashboard Administration</h3>
#if ($Error != "")
<div class="ui-widget">
	<div class="ui-state-error ui-corner-all"> 
		<p><span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span>
		<strong>Error:</strong> $Error</p>
	</div>
</div>
#end
<div style="margin:5px;">
    <form method="post">
        <div>
            The administration console is password protected, please enter your password:
        </div>
        <div>
            <input type="password" name="password" />
            <input type="submit" value="Enter" />
        </div>
    </form>
</div>