<!-- BuildLog.vm: Start -->
<script>hljs.initHighlightingOnLoad();</script>
<p>
<a href="$logUrl">$translations.Translate("Click here to open log in its own page")</a>
</p>
<pre class="log">
  <code>$log</code>
</pre>
<!-- BuildLog.vm: End -->
