<!-- BuildSideBar.vm: Start -->
<table width="100%">
	<tr><td><a href="$latestLink.Url">Latest</a></td></tr>
	<tr><td><a href="$nextLink.Url">Next</a></td></tr>
	<tr><td><a href="$previousLink.Url">Previous</a></td></tr>
	<tr><td>&nbsp;</td></tr>
	#foreach ($link in $links)
	<tr><td><a href="$link.Url" class="$link.LinkClass">$link.Text</a></td></tr>
	#end
	<tr><td>&nbsp;</td></tr>
	<tr><td>$recentBuildsTable</td></tr>
</table>
<!-- BuildSideBar.vm: End -->
