<span>
  <div style="margin-bottom: 5px; text-align: right">
  <a id="showAll" style="cursor:pointer;color:blue; text-decoration:underline;" onclick="$('.showLink').hide(); $('.hideLink').show(); $('.statusTable').show()">$translations.Translate("Show All")</a>
  <a id="hideAll" style="margin-right:25px;cursor:pointer;color:blue; text-decoration:underline;" onclick="$('.showLink').show(); $('.hideLink').hide(); $('.statusTable').hide()">$translations.Translate("Hide All")</a>
  </div>
  #set ($categoryId = 0)
  #foreach ($category in $categories)
  #set ($categoryId = $categoryId + 1)
  <div style="padding: 1px; background: white;"></div>
  <div style="padding: 5px; margin-right: 0.5px; background: $category.CategoryColor; color: white;">
    <span style="font-size: 150%; font-weight: bold; font-family: verdana,helvetica,arial,san-serif;">$category.Name</span>
    <span>
    <a id="showGrid$categoryId" class="showLink"
       style="color: white; text-decoration: underline; cursor: pointer; #if( $category.Display) display: none; #end"
       onclick="$('#showGrid$categoryId').hide(); $('#hideGrid$categoryId').show(); $('#statusGrid$categoryId').show()">$translations.Translate("show")</a>
    <a id="hideGrid$categoryId" class="hideLink"
       style="color: white; text-decoration: underline; cursor: pointer; #if( !$category.Display) display: none; #end"
       onclick="$('#showGrid$categoryId').show(); $('#hideGrid$categoryId').hide(); $('#statusGrid$categoryId').hide()">$translations.Translate("hide")</a>
    </span>
  </div>

  <table id="statusGrid$categoryId" class="SortableGrid statusTable"
         style="#if( !$category.Display) display: none; #end ">
	<thead>
	   <tr class="ProjectGridHeader">
		  <th class="left">$translations.Translate("Server")</th>
		  <th class="left">$translations.Translate("Project Name")</th>
		  <th>$translations.Translate("Last Build Status")</th>
		  <th>$translations.Translate("Last Build Time")</th>
		  <th>$translations.Translate("Next Build Time")</th>
		  <th>$translations.Translate("Last Build Label")</th>
		  <th>$translations.Translate("CCNet Status")</th>
		  <th>$translations.Translate("Activity")</th>
		  <th class="{sorter:false}">$translations.Translate("Messages")</th>
		  <th class="{sorter:false}">$translations.Translate("Admin")</th>
		</tr>	
	</thead>    
    #foreach ($row in $category.Rows)
    <tr>
    <td>$row.ServerName</td>
    <td>
      <a href="$row.Url" title="$row.Description">$row.Name</a>
    </td>
    <td class="$row.BuildStatusHtmlColor">$translations.Translate($row.BuildStatus)</td>
    <td>$translations.Translate($row.LastBuildDate)</td>
    <td>$translations.Translate($row.NextBuildTime)</td>
    <td>$row.LastBuildLabel</td>
    <td class="status$row.Status">$translations.Translate($row.Status)</td>
    <td class="activity$row.Activity">$translations.Translate($row.Activity.ToString())</td>
    <td>
      <ul>
        #if ($row.Breakers.Length > 0)
        <li>$translations.Translate("Breakers : {0}", $row.Breakers)</li>
        #end
        #if ($row.Fixer.Length > 0)
        <li>$row.Fixer</li>
        #end
        #if ($row.FailingTasks.Length > 0)
        <li>$translations.Translate("Failing Tasks : {0}", $row.FailingTasks)</li>
        #end
      </ul>
    </td>
    <td>
      <form method="post" style="margin-bottom:0px;">
        <input type="hidden" name="projectName" value="$row.Name" />
        <input type="hidden" name="serverName" value="$row.ServerName" />
        <font color="Black">
          #if ($row.allowForceBuild)
          #if($row.ForceAbortBuildButtonValue == "Force")
          <input type="button"
                 name="$row.ForceAbortBuildButtonName"
                 value="$translations.Translate($row.ForceAbortBuildButtonValue)"
                 onclick="checkForParams(this, '$row.ParametersUrl')"/>
          #else
          <input type="submit"
                 name="$row.ForceAbortBuildButtonName"
                 value="$translations.Translate($row.ForceAbortBuildButtonValue)"/>
          #end
          #end
          #if ($row.AllowStartStopBuild)
          <input type="submit"
                 name="$row.StartStopButtonName"
                 value="$translations.Translate($row.StartStopButtonValue)"/>
          #end
        </font>
      </form>
    </td>
  </tr>
	#end
	</table> 
#end 
</span>