<form method="post">
  #if ($message.length > 0)
  <div class="ui-widget">
    <div class="ui-state-highlight ui-corner-all" style="padding: 0pt 0.7em; margin-top: 20px;">
      <p>
        <span class="ui-icon ui-icon-info" style="float: left; margin-right: 0.3em;"></span>
        $message
      </p>
    </div>
  </div>
  #end
  #if ($error.length > 0)
  <div class="ui-widget">
    <div class="ui-state-error ui-corner-all" style="padding: 0pt 0.7em; margin-top: 20px;">
      <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span>
        $error
      </p>
    </div>
  </div>
  #end
  <table>
    <tr>
      <td>Current Password:</td>
      <td>
        <input type="password" name="oldPassword"/>
      </td>
      <td>
        <input type="submit" value="Change"/>
      </td>
    </tr>
    <tr>
      <td>New Password:</td>
      <td>
        <input type="password" name="newPassword1"/>
      </td>
    </tr>
    <tr>
      <td>Repeat New Password:</td>
      <td>
        <input type="password" name="newPassword2"/>
      </td>
    </tr>
  </table>
</form>
