<!-- FarmSideBar.vm: Start -->
#foreach ($link in $links)
<li class="sidebar-list">
    <a href="$link.Url" class="$link.LinkClass">$translations.Translate($link.Text)</a>
</li>
#end

<li class="sidebar-title separator">
    <span>
        $translations.Translate("Servers")
    </span>
</li>

#foreach ($slink in $serverlinks)
<li class="sidebar-list">
    <a href="$slink.Url" class="$slink.LinkClass">$slink.Text</a>
</li>
#end

#if ($showCategories)
<li class="sidebar-title separator">
    <span>
        $translations.Translate("Categories") (<a href="$farmLink.Url">All</a>)s
    </span>
</li>
    #foreach ($categorylink in $categorylinks)
    <li class="sidebar-list">
        <a href="$categorylink.Url">$categorylink.Text</a>
    </li>
    #end
#end
<!-- FarmSideBar.vm: End -->
