<!-- FarmSideBar.vm: Start -->
<table width="100%">
	#foreach ($link in $links)
	<tr><td><a href="$link.Url" class="$link.LinkClass">$translations.Translate($link.Text)</a></td></tr>
	#end
	<tr><td>&nbsp;</td></tr>
	<tr><td><b>$translations.Translate("Servers")</b></td></tr>
	#foreach ($slink in $serverlinks)
	<tr><td><a href="$slink.Url" class="$slink.LinkClass">$slink.Text</a></td></tr>
	#end

	#if ($showCategories)
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
			<b>$translations.Translate("Categories")</b> (<a href="$farmLink.Url">All</a>)
		</td>
	</tr>
	#foreach ($categorylink in $categorylinks)
	<tr>
		<td>
			<a href="$categorylink.Url">$categorylink.Text</a>
		</td>
	</tr>
	#end
	#end
</table>
<!-- FarmSideBar.vm: End -->
