<div class="ui-widget">
	<div class="ui-state-highlight ui-corner-all" style="padding: 0pt 0.7em; margin-top: 20px;">
		<p>
			<span class="ui-icon ui-icon-info" style="float: left; margin-right: 0.3em;"></span>
			You have successfully logged out
		</p>
	</div>
</div>
