<script type="text/javascript">
  $(document).ready(function(){
      $('#ProjectConfig').tablesorter({
          sortList:[[2,0]]
        });
    });
</script>
<table class="SortableGrid" id="ProjectConfig">
  <thead>
    <tr class="ProjectGridHeader">
      <th>Queue</th>
      <th>Queue Priority</th>
      <th>Project</th>
      <th>Category</th>
      <th>Web Url</th>
    </tr>
  </thead>
  <tbody>
    #foreach ($project in $projects)
    <tr>
      <td class="left">$project.Queue</td>
      <td>$project.QueuePriority</td>
      <td class="left">$project.Name</td>
      <td class="left">$project.Category</td>
      <td class="left">
        <a href="$project.WebURL">$project.WebURL</a>
      </td>
    </tr>
    #end
  </tbody>
</table>