<form ID="RefreshForm" method="post">
<table width="100%">
<tr>
	<td align="right"><input type="submit" align="right" name="Refresh" value="Refresh status" /></td>
</tr>
</table>
</form>

#if ($forceBuildMessage.Length > 0)
<P><span id="StatusLabel"><b><font color="#4A3C8C">$forceBuildMessage</font></b></span></P>
#end

#if ($projectGrid.Length > 0)
<table cellspacing="0" cellpadding="3" rules="rows" bordercolor="#333399" border="1" id="StatusGrid" bgcolor="White" width="100%">
	<tr bgcolor="#333399" class="ProjectGridHeader">
		#if ($wholeFarm)
		<td align="Center">
			<a href="$serverNameSortLink"><b>Server</b></a>
		</td>
		#end
		<td>
			<a href="$projectNameSortLink"><b>Project Name</b></a>
		</td>
		<td align="Center">
			<a href="$buildStatusSortLink"><b>Last Build Status</b></a>
		</td>
		<td align="Center">
			<a href="$lastBuildDateSortLink"><b>Last Build Time</b></a>
		</td>
		<td align="Center">
			<b>Last Build Label</b>
		</td>
		<td align="Center">
			<b>CCNet Status</b>
		</td>
		<td align="Center">
			<b>Activity</b>
		</td>
		<td align="Center">
			<b>Messages</b>
		</td>
		<td align="Center">
			<b>Admin</b>
		</td>
	</tr>
	
	#foreach ($projectGridRow in $projectGrid)
	<tr bgcolor="Ivory">
		#if ($wholeFarm)
		<td align="Left">
			<b>$projectGridRow.ServerName</b>
		</td>
		#end
		<td align="Left">
			<font color="Black">
				<a href="$projectGridRow.Url">$projectGridRow.Name</a>
			</font>
		</td>
		<td align="Center">
			<font color="$projectGridRow.BuildStatusHtmlColor">
				<b>$projectGridRow.BuildStatus</b>
			</font>
		</td>
		<td align="Center">
			<font color="Black">$projectGridRow.LastBuildDate</font>
		</td>
		<td align="Center">
			<font color="Black">$projectGridRow.LastBuildLabel</font>
		</td>
		<td align="Center">
			<font color="Black">$projectGridRow.Status</font>
		</td>
		<td align="Center">
			#if ($projectGridRow.Activity == "Building")
				<font color="Red">$projectGridRow.Activity</font>
			#else
				<font color="Black">$projectGridRow.Activity</font>
			#end
		</td>
		<td align="Center">
			<font color="Black">
				$projectGridRow.CurrentMessage
			</font>
		</td>
		<form method="post">
      <input type="hidden" name="projectName" value="$projectGridRow.Name" />
			<input type="hidden" name="serverName" value="$projectGridRow.ServerName" />
			<td align="Center">
				<font color="Black">
				#if ($projectGridRow.allowForceBuild)
					<input type="submit" name="$projectGridRow.ForceAbortBuildButtonName" value="$projectGridRow.ForceAbortBuildButtonValue"/>
				#end
				#if ($projectGridRow.AllowStartStopBuild)				
					<input type="submit" name="$projectGridRow.StartStopButtonName" value="$projectGridRow.StartStopButtonValue"/>
				#end
				</font>
			</td>      
		</form>
	</tr>

    #if ($projectGridRow.BuildStage.Length > 0)
    <tr  bgcolor="lavender">
      <td align="Left" COLSPAN="9">
        <font color="Black">
          $projectGridRow.BuildStage
        </font>
      </td>
    </tr>
    #end


  #end
</table>
#end

#if ($exceptions.Length > 0)
<P>
<span id="ExceptionTitleLabel">There were exceptions connecting to the following servers:</span>
</P>
<table cellspacing="0" cellpadding="4" rules="all" bordercolor="#CC9966" border="1" id="ExceptionGrid" bgcolor="White" width="100%">
	<tr bgcolor="#990000">
		<th><font color="#FFFFCC"><b>Server Name</b></font></th>
		<th><font color="#FFFFCC"><b>Url</b></font></th>
		<th><font color="#FFFFCC"><b>Message</b></font></th>
	</tr>
	#foreach ($exception in $exceptions)
	<tr bgcolor="White">
		<td><font color="#330099">$exception.ServerName</font></td>
		<td><font color="#330099">$exception.Url</font></td>
		<td><font color="#330099">$exception.Message</font></td>
	</tr>
	#end
</table>
#end
