<h2>Project Status for $projectName</h2>
#if ($StatusMessage.Length > 0)
<div>
  <span id="StatusLabel">$StatusMessage</span>
</div>
#end

<div class="commands">
  <form methd="POST">
    #if ($server.AllowForceBuild)
    <input type="submit" name="$ForceAbortBuildButtonName" value="$ForceAbortBuildButtonValue"/>
    #end
    #if ($server.AllowStartStopBuild)
    <input type="submit" name="$StartStopButtonName" value="$StartStopButtonValue"/>
    #end
  </form>
</div>

<table>
  <tr>
    <th>Last Build Status:</th>
    <td>$status.BuildStatus</td>
  </tr>
  <tr>
    <th>Last Build Label:</th>
    <td>$status.LastBuildLabel</td>
  </tr>
  <tr>
    <th>CCNet Status:</th>
    <td>$status.Status</td>
  </tr>
  <tr>
    <th>Activity:</th>
    <td>$status.Activity</td>
  </tr>
</table>

<h2>
  Project Report for $projectName
  #if ($rssDataPresent)
  <A HREF="$rss.url">
    <IMG SRC="$applicationPath/images/rss.gif" WIDTH="28" HEIGHT="16" BORDER="0" ALT="$rss.text">
    </A>
  #end
</h2>

#if ($externalLinks.Length > 0)
<table class="ExternalLinks">
  <tr>
    <th>External Links</th>
  </tr>
  #foreach ($externalLink in $externalLinks)
  <tr bgcolor="Ivory">
    <td align="Left">
      <a href="$externalLink.Url">$externalLink.Name</a>
    </td>
  </tr>
  #end
</table>
#end

<p>
  #if ($noLogsAvailable)
  There are currently no build logs available for this project - make sure your Build Server configuration is correct and that this Project's build is not throwing any exceptions
  #else
  #if ($pluginInfo)
  <h3>Most Recent Build Results</h3>
  $pluginInfo

  Click <a href="$mostRecentBuildUrl">here</a> for the full build report.
  #else
  Click <a href="$mostRecentBuildUrl">here</a> for the most recent build report.
  #end
  #end
</p>


#if ($highestAmountPerDay > 0) 
 #set($highestViewPerDay= $highestAmountPerDay / $dateMultiPlier)

<table border="0" align="center" cellspacing="0" cellpadding="2">
  <tr><th colspan=2>Build Overview </th></tr>
  <tr><td colspan=2  align=center> $OKPercent% </td></tr>
    <tr height=5> 
       <td width=$OKPercent bgcolor="#33CC00"> </td>
       <td width=$NOKPercent bgcolor="#FF0000"> </td>
  </tr>
  <tr><td colspan=2> </td></tr>
</table>
<table border="2" align="center"  >
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="2" bgcolor="#99CCFF">
        #foreach ($dayBuildCounter in [1..$highestViewPerDay])
         <tr align="center">
           <td></td>
            #foreach ($currentDayInfo in $graphDayInfo)
              #foreach ($multi in [1..$dateMultiPlier])
                #set ($cellIndex =  (($highestViewPerDay - $dayBuildCounter) *  $dateMultiPlier) + $multi)
                #if ( $cellIndex <= $currentDayInfo.AmountOfBuilds)
                  #set ($buildIndex =  $cellIndex - 1 )
                  #if ($currentDayInfo.Build($buildIndex).IsSuccesFull) 
		     #set($color = "#99FF00")
                  #else 
		     #set($color ="#FF9900")
                  #end
                 <TD bgcolor="$color"><A HREF="$currentDayInfo.Build($buildIndex).LinkTobuild" title="$currentDayInfo.Build($buildIndex).Description">$cellIndex</A></TD>
                #else <td></td>
                #end
              #end
              <td></td>
            #end
          </tr>
        #end
        <tr><td></td></tr>
        <tr align="center">
          <td></td>
          #foreach ($currentDayInfo in $graphDayInfo)
              <TD bgcolor="#3366FF" colspan="$dateMultiPlier">$currentDayInfo.BuildDateFormatted</TD>
              <td></td>
          #end
        </tr>
      </table>
    </td>
  </tr>
</table>
#end

