<table width="100%">
	#foreach ($link in $links)
	<tr><td><a href="$link.Url" class="$link.LinkClass">$link.Text</a></td></tr>
	#end
	<tr><td>&nbsp;</td></tr>
	<tr><td>$recentBuildsTable</td></tr>
</table>