<h2>Project Report for $projectName 
  #if ($rssDataPresent)
  <A HREF="$rss.url">
    <IMG SRC="$applicationPath/images/rss.gif" WIDTH="28" HEIGHT="16" BORDER="0" ALT="$rss.text">
  </A>
  #end
</h2>

#if ($externalLinks.Length > 0)
<table class="ExternalLinks">
	<tr>
		<th>External Links</th>
	</tr>
	#foreach ($externalLink in $externalLinks)
	<tr bgcolor="Ivory">
		<td align="Left">
			<a href="$externalLink.Url">$externalLink.Name</a>
		</td>
	</tr>
	#end
</table>
#end

<p>
#if ($noLogsAvailable)
There are currently no build logs available for this project - make sure your Build Server configuration is correct and that this Project's build is not throwing any exceptions
#else
	#if ($pluginInfo)
	<h3>Most Recent Build Results</h3>
	$pluginInfo
	
	Click <a href="$mostRecentBuildUrl">here</a> for the full build report.
	#else
	Click <a href="$mostRecentBuildUrl">here</a> for the most recent build report.
	#end
#end
</p>



