<div id="serverLogProjects">
	#foreach ($projectLink in $projectLinks)
	<a href="$projectLink.Url" style="padding: 10px">$projectLink.Text</a>
	#end
</div>
#if ($currentProject.Length > 0)
<h2>Security Configuration for Project: $currentProject</h2>
#else
<h2>Server Security Configuration</h2>
#end
<pre class="log">$log</pre>
