<table cellspacing="0" cellpadding="3" rules="rows" bordercolor="#333399" border="1" id="StatusGrid" bgcolor="White" width="100%">
  <tr bgcolor="#333399" class="ProjectGridHeader">
    <td width="5%">
      <b>Queue</b>
    </td>
    <td width="45%">
      <b>Project</b>
    </td>
    <td width="50%">
      <b>Status</b>
    </td>
  </tr>
  #foreach ($queue in $queues)
  <tr bgcolor="Ivory">
    <td colspan="3">
      <b>$queue.QueueName</b>
    </td>
  </tr>
  #foreach ($project in $queue.Requests)
  <tr>
    <td width="5%">&nbsp;</td>
    <td width="45%">
      $project.ProjectName
    </td>
    <td width="50%">
      $project.Activity
    </td>
  </tr>
  #end
  #end
</table>
