<script type="text/javascript">
  $(document).ready(function(){
      $('#QueueStatus').tablesorter({
          sortList:[[0,0]]
        });
    });
</script>
<table class="SortableGrid" id="QueueStatus">
  <thead>
    <tr class="ProjectGridHeader">
      <th>Queue</th>
      <th>Project</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  #foreach ($queue in $queues)
    #if ($queue.Requests.Count > 0)
      #foreach ($project in $queue.Requests)
      <tr>
        <td class="left Black">
          $queue.QueueName
        </td>
        <td class="left">
          $project.ProjectName
        </td>
        <td>
          $project.Activity
        </td>
      </tr>
      #end
    #else
      <tr>
        <td class="left Black">
          $queue.QueueName
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
      </tr>
    #end
  #end
  </tbody>
</table>
