<table class="SortableGrid">
  <thead>
    <tr class="ProjectGridHeader">
      <th>Server Name</th>
      <th>Server Version</th>
      <th>Free Disk Space</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$servername</td>
      <td>$serverversion</td>
      <td>$serverSpace</td>
      <td>$spaceMessage</td>
    </tr>
  </tbody>
</table>



