<!doctype html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CCNet $headersuffix</title>
		<link rel="stylesheet" href="$applicationPath/Styles/css/dashboard.min.css" />
		<link rel="shortcut icon" href="$applicationPath/AppIcon.ico" />
	</head>
	<body>
        <div id="page-wrapper" class="active"> <!-- TODO: include JS to toggle the active class -->

            <!-- *** SIDEBAR *** -->
            <div id="sidebar-wrapper">
                <ul class="sidebar">
                    <li class="sidebar-main">
                        <a href="#0">
                            CCNet
                            <span class="menu-icon glyphicon glyphicon-transfer"></span>
                        </a>
                    </li>
                    $sidebar
                    <li class="sidebar-title separator"><span>QUICK LINKS</span></li>
                    <li class="sidebar-list">
                        <a href="$applicationPath/doc/index.html">$translations.Translate("Documentation") <span class="menu-icon fa fa-book"></span></a>
                    </li>
                </ul>
                <div class="sidebar-footer">
                    <div class="col-xs-4">
                        <a href="https://github.com/ccnet/CruiseControl.NET">
                            Github
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#0">
                            About
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#0">
                            Support
                        </a>
                    </div>
                </div>
            </div>
            <!-- *** END SIDEBAR *** -->

            <div id="content-wrapper">
                <div class="page-content">

                    <!-- *** HEADER *** -->

                    <div class="row header">
                        <div class="col-xs-12">
                            <div class="user pull-right" style="margin: 10px;">
                                <div class="item">
                                    <button class="btn btn-primary">Login</button>
                                </div>
                            </div>
                            <div class="meta">
                                <div class="page">
                                    Cruise Control .NET
                                    <small>$translations.Translate("Version") : $dashboardversion</small>
                                </div>
                                <div class="breadcrumb-links">
                                    $breadcrumbs
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- *** MAIN CONTENT *** -->
                    $mainContent

                    <!-- *** FOOTER *** -->

                    <!-- TODO: align and style the footer properly -->
                    <footer>
                        <!-- TODO: how useful is the page rendered time? Get rid of it? -->
                        <p>$translations.Translate("PageRendered", $renderedAt)</p>

                        <!-- TODO: the background colour on this image is wrong:  -->
                        <a href="http://opensource.thoughtworks.com/"><img src="$applicationPath/images/tw_open_source_small.png" border="0" alt="ThoughtWorks Open Source" /></a>
                    </footer>

                </div>
            </div>
        </div>
	</body>
</html>
