<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<configSections>
		<section name="xslFiles" type="tw.ccnet.core.XslFilesSectionHandler,ccnet.core"/>
	</configSections>
	<xslFiles>
		<file name="xsl\header.xsl"/>
		<file name="xsl\compile.xsl"/>
		<file name="xsl\unittests.xsl"/>
		<file name="xsl\fit.xsl"/>
		<file name="xsl\modifications.xsl"/>
	</xslFiles>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp" port="1234">
                    <serverProviders>
                        <formatter ref="binary" typeFilterLevel="Full" />
                    </serverProviders>
                </channel>
			</channels>
		</application>
	</system.runtime.remoting>
	<startup>
		<supportedRuntime version="v1.1.4322" />
		<supportedRuntime version="v1.0.3705" />
	</startup>
</configuration>
