<cruisecontrol>
 <project name="project 1">
   <webURL>http://localhost/ccnet-dashboard/ProjectReport.aspx?server=local&amp;project=project 1</webURL>
   <schedule type="schedule" sleepSeconds="60"/>
   <modificationDelaySeconds>2</modificationDelaySeconds>
   <sourcecontrol type="filesystem">
     <repositoryRoot>.</repositoryRoot>
   </sourcecontrol>
   <build type="commandLineBuilder">
     <executable>echo.bat</executable>
     <buildArgs>Hello-World</buildArgs>
   </build>
   <publishers>
     <xmllogger>
       <logDir>.\project1\log</logDir>
     </xmllogger>
   </publishers>
 </project>
 <project name="project 2">
   <webURL>http://localhost/ccnet-dashboard/ProjectReport.aspx?server=local&amp;project=project 2</webURL>
   <schedule type="schedule" sleepSeconds="60"/>
   <modificationDelaySeconds>2</modificationDelaySeconds>
   <sourcecontrol type="filesystem">
     <repositoryRoot>.</repositoryRoot>
   </sourcecontrol>
   <build type="commandLineBuilder">
     <executable>fail.bat</executable>
     <buildArgs>Bonjour-Le-Monde</buildArgs>
   </build>
   <publishers>
     <xmllogger>
       <logDir>.\project2\log</logDir>
     </xmllogger>
   </publishers>
 </project>
 </cruisecontrol>