<cruisecontrol>
  <project name="MyProject">
    <webURL>http://localhost/ccnet</webURL>
    <schedule type="schedule" sleepSeconds="60"/>
    <sourcecontrol type="cvs">
      <executable>c:\putty\cvswithplinkrsh.bat</executable>
      <workingDirectory>c:\fromcvs\myrepo\myproject</workingDirectory>
    </sourcecontrol>
    <build type="nant">
      <executable>c:\fromcvs\myrepo\myproject\tools\nant\nant.exe</executable>
      <baseDirectory>c:\fromcvs\myrepo\myproject</baseDirectory>
      <buildArgs>-D:cvs.executable=c:\putty\cvswithplinkrsh.bat</buildArgs>
      <buildFile>cruise.build</buildFile>
      <targetList>
        <target>run</target>
      </targetList>
      <buildTimeoutSeconds>300</buildTimeoutSeconds>
    </build>
    <tasks>
    	<merge>
    		<file>c:\fromcvs\myrepo\myproject\build\tests\*-results.xml</file>
    	</merge>
    </tasks>
    <publishers>
      <xmllogger>
        <logDir>..\website\log</logDir>
      </xmllogger>
      <email from="buildmaster@mycompany.com" mailhost="smtp.mycompany.com" includeDetails="TRUE">
       <projectUrl>http://buildserver/myproject</projectUrl>
       <users>
          <user name="BuildGuru" group="buildmaster" address="buildguru@mycompany.com"/>
          <user name="JoeDeveloper" group="developers" address="joedeveloper@thoughtworks.com"/>
        </users>
        <groups>
          <group name="developers" notification="change"/>
          <group name="buildmaster" notification="always"/>
        </groups>
      </email>
    </publishers>
    <modificationDelaySeconds>10</modificationDelaySeconds>
  </project>
</cruisecontrol>