<cruisecontrol>
 <project name="project1">
   <webURL>http://localhost/ccnet-dashboard/ProjectReport.aspx?server=local&amp;project=project1</webURL>
   <schedule type="schedule" sleepSeconds="60"/>
   <state type="state" filename="project1.state" />
   <modificationDelaySeconds>2</modificationDelaySeconds>
   <sourcecontrol type="filesystem">
     <repositoryRoot>.</repositoryRoot>
   </sourcecontrol>
   <build type="commandLineBuilder">
     <executable>echo.bat</executable>
     <buildArgs>Hello-World</buildArgs>
   </build>
   <publishers>
     <xmllogger>
       <logDir>.\project1\log</logDir>
     </xmllogger>
   </publishers>
 </project>
 <project name="project2">
   <webURL>http://localhost/ccnet-dashboard/ProjectReport.aspx?server=local&amp;project=project2</webURL>
   <schedule type="schedule" sleepSeconds="60"/>
   <state type="state" filename="project2.state" />
   <modificationDelaySeconds>2</modificationDelaySeconds>
   <sourcecontrol type="filesystem">
     <repositoryRoot>.</repositoryRoot>
   </sourcecontrol>
   <build type="commandLineBuilder">
     <executable>fail.bat</executable>
     <buildArgs>Bonjour-Le-Monde</buildArgs>
   </build>
   <publishers>
     <xmllogger>
       <logDir>.\project2\log</logDir>
     </xmllogger>
   </publishers>
 </project>
</cruisecontrol>