<cruisecontrol>
  <project name="MyProject">
    <schedule type="schedule" timeout="60000"/>
    <modificationDelay>10000</modificationDelay>
    <sourcecontrol type="cvs">
      <executable>c:\putty\cvswithplinkrsh.bat</executable>
      <workingDirectory>c:\fromcvs\myrepo\myproject</workingDirectory>
    </sourcecontrol>
    <build type="nant">
      <executable>c:\fromcvs\myrepo\myproject\tools\nant\nant.exe</executable>
      <baseDirectory>c:\fromcvs\myrepo\myproject</baseDirectory>
      <buildArgs>-logger:NAnt.Core.XmlLogger -D:cvs.executable=c:\putty\cvswithplinkrsh.bat</buildArgs>
      <buildFile>cruise.build</buildFile>
      <targetList>
        <target>run</target>
      </targetList>
      <buildTimeout>300000</buildTimeout>
    </build>
    <publishers>
      <email from="buildmaster@mycompany.com" mailhost="smtp.mycompany.com" includeDetails="TRUE">
       <projectUrl>http://buildserver/myproject</projectUrl>
       <users>
          <user name="BuildGuru" group="buildmaster" address="buildguru@mycompany.com"/>
          <user name="JoeDeveloper" group="developers" address="joedeveloper@thoughtworks.com"/>
        </users>
        <groups>
          <group name="developers" notification="change"/>
          <group name="buildmaster" notification="always"/>
        </groups>
      </email>
      <xmllogger>
        <logDir>..\website\log</logDir>
        <mergeFiles>
            <file>c:\fromcvs\myrepo\myproject\build\tests\*-results.xml</file>
        </mergeFiles>
      </xmllogger>
    </publishers>
  </project>
</cruisecontrol>