<cruisecontrol>
  <project>
   <name>Project 1</name> 
    <webURL>http://localhost/ccnet-dashboard/Controller.aspx?_action_ViewProjectReport=true&amp;server=local&amp;project=Project 1</webURL> 
    <triggers>
    	<pollingInterval seconds="60"/>
    </triggers>
    <modificationDelaySeconds>2</modificationDelaySeconds>
    <sourcecontrol type="filesystem">
      <repositoryRoot>.</repositoryRoot>
    </sourcecontrol>
    <build type="commandLineBuilder">
      <baseDirectory>..\..</baseDirectory> 
      <executable>echo.bat</executable>
      <buildArgs>Hello-World</buildArgs>
    </build>
    <publishers>
      <xmllogger />
    </publishers>
  </project>
  <project>
   <name>Nant Project</name> 
    <webURL>http://localhost/ccnet-dashboard/Controller.aspx?_action_ViewProjectReport=true&amp;server=local&amp;project=Nant Project</webURL> 
    <triggers>
    	<pollingInterval seconds="60"/>
    </triggers>
    <modificationDelaySeconds>2</modificationDelaySeconds>
    <sourcecontrol type="filesystem">
      <repositoryRoot>.</repositoryRoot>
    </sourcecontrol>
    <build type="nant">
      <baseDirectory>..\..</baseDirectory> 
      <executable>..\..\..\..\tools\nant\nant.exe</executable>
    </build>
    <publishers>
      <xmllogger />
    </publishers>
  </project>
  <project>
   <name>Project 2</name> 
    <webURL>http://localhost/ccnet-dashboard/Controller.aspx?_action_ViewProjectReport=true&amp;server=local&amp;project=Project 2</webURL> 
    <triggers>
    	<pollingInterval seconds="60"/>
    </triggers>
    <modificationDelaySeconds>2</modificationDelaySeconds>
    <sourcecontrol type="filesystem">
      <repositoryRoot>.</repositoryRoot>
    </sourcecontrol>
    <build type="commandLineBuilder">
      <baseDirectory>..\..</baseDirectory> 
      <executable>fail.bat</executable>
      <buildArgs>Bonjour-Le-Monde</buildArgs>
    </build>
    <publishers>
      <xmllogger />
    </publishers>
  </project>
 </cruisecontrol>