<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BackingURL" value="tcp://localhost:1234/CruiseManager.rem" />
    <add key="TestURL" value="http://localhost/XMLRPCWebService/XMLRPC.rem" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add verb="*" path="XMLRPC.rem" type="ThoughtWorks.CruiseControl.XMLRPCWebService.ServerWebServiceImpl, ThoughtWorks.CruiseControl.XMLRPCWebService" />
    </httpHandlers>
 </system.web>
</configuration>
