<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="file" fileName="${basedir}/log.txt" 
            layout="${longdate}|${threadid}|${level}|${callsite}|${message}|${exception:format=Message,Type}"/>
    <target xsi:type="ColoredConsole" name="console" 
            layout="${longdate}|${pad:padding=5:inner=${threadid}}|${pad:padding=-8:inner=${level}}|${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
