<configuration>
    <system.diagnostics>
        
        <switches>
            <!-- 
                TraceSwitch has the following values
                  Off = 0, Error = 1, Warning = 2, Info = 3, Verbose = 4
                        
                BooleanSwitch has the following values
                  Off = 0, On = 1        
            -->
            
            <!-- TraceSwitch'es -->
            <add name="FxCopMain" value="0" />
            
            <!-- BooleanSwitch'es -->
            <add name="TraceAssemblies" value="0" />
            <add name="TraceTypes" value="0" />
            <add name="TraceMembers" value="0" />
            <add name="TraceParameters" value="0" />
        </switches>
       
        <trace autoflush="true" indentsize="4">
            <listeners>
                <!-- Uncomment for file tracing 
                <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log"/>
                -->
            </listeners>
        </trace>
        
    </system.diagnostics>
    
    <appSettings>
        <!--   User application and configured property settings go here.-->
        <!--   Example: <add key="settingName" value="settingValue"/> -->
    </appSettings>

 </configuration>

