<configuration>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
      <probing privatePath="Rules;Engines\Introspection"/> 
     </assemblyBinding> 
  </runtime>

  <system.diagnostics>
    <switches>
      <!-- 
        TraceSwitch has the following values
          Off = 0, Error = 1, Warning = 2, Info = 3, Verbose = 4
          
        BooleanSwitch has the following values
          Off = 0, On = 1        
      -->

      <!-- TraceSwitch'es -->
      <add name="Trace" value="2" />
      <add name="TraceExceptions" value="1" />
    
      <!-- BooleanSwitch'es -->
      <add name="Strict" value="1" />
      <add name="NetworkLookups" value="0" />
      <add name="ConfigurationAnalysis" value="0" />
    </switches>

    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="outputListener" type="Microsoft.FxCop.UI.OutputListener,FxCop"/>
        <!-- Uncomment for file tracing 
        <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log"/>
        -->
      </listeners>
    </trace>
  </system.diagnostics>

  <appSettings>
    <add key="UpdateUrl" value="http://go.microsoft.com/fwlink/?LinkId=48226"/>
    <add key="CheckForUpdatesOnStartup" value="True" /> <!-- either True, False or User -->
    <add key="PromptUserForDownload" value="True" />    <!-- either True or False -->
    <add key="DefaultStylesheet" value="http://www.gotdotnet.com/team/fxcop//xsl/1.35/FxCopReport.xsl" />
    <add key="DocumentationRoot" value="http://www.gotdotnet.com/team/fxcop/docs/rules.aspx?version=1.35&amp;url=" />
    <add key="PersistLocalSettings" value="True" />
  </appSettings>

</configuration>
