<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="sitemesh">
			<section name="page-parsers" type="SiteMesh.Factory.PageParsersSectionHandler, SiteMesh" />
			<section name="decorator-mappers" type="SiteMesh.Factory.DecoratorMappersSectionHandler, SiteMesh" />
			<section name="decorators" type="SiteMesh.Mapper.DecoratorSectionHandler, SiteMesh" />
		</sectionGroup>
		<sectionGroup name="CCNet">
			<section name="xslFiles" type="ThoughtWorks.CruiseControl.Core.Config.XslFilesSectionHandler,ccnet.core" />
			<section name="projectPlugins" type="ThoughtWorks.CruiseControl.Web.PluginsSectionHandler,ccnet.web" />
			<section name="buildPlugins" type="ThoughtWorks.CruiseControl.Web.PluginsSectionHandler,ccnet.web" />
		</sectionGroup>
	</configSections>
	<system.web>
		<httpModules>
			<add type="SiteMesh.Filter.SiteMeshModule, SiteMesh" name="SiteMesh" />
		</httpModules>
		<!--  DYNAMIC DEBUG COMPILATION
			Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
			false will improve runtime performance of this application. 
			Set compilation debug="true" to insert debugging symbols (.pdb information)
			into the compiled page. Because this creates a larger file that executes
			more slowly, you should set this value to true only when debugging and to
			false at all other times. For more information, refer to the documentation about
			debugging ASP .NET files.
			-->
		<compilation defaultLanguage="c#" debug="true" />
		<!--  CUSTOM ERROR MESSAGES
			Set customError mode values to control the display of user-friendly 
			error messages to users instead of error details (including a stack trace):

			"On" Always display custom (friendly) messages  
			"Off" Always display detailed ASP.NET error information.
			"RemoteOnly" Display custom (friendly) messages only to users not running 
			on the local Web server. This setting is recommended for security purposes, so 
			that you do not display application detail information to remote clients.
			-->
		<customErrors mode="RemoteOnly" />
		<!--  AUTHENTICATION 
			This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
			"Passport" and "None"
			-->
		<authentication mode="Windows" />
		<!--  APPLICATION-LEVEL TRACE LOGGING
			Application-level tracing enables trace log output for every page within an application. 
			Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
			trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
			application trace log by browsing the "trace.axd" page from your web application
			root. 
			-->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<!--  SESSION STATE SETTINGS
			By default ASP .NET uses cookies to identify which requests belong to a particular session. 
			If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
			To disable cookies, set sessionState cookieless="true".
			-->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password="
			cookieless="false" timeout="20" />
		<!--  GLOBALIZATION
			This section sets the globalization settings of the application. 
			-->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp" port="1234" />
			</channels>
		</application>
	</system.runtime.remoting>
	<appSettings>
		<add key="logDir" value="log" />
	</appSettings>
	<sitemesh>
		<decorators defaultdir="">
			<decorator name="simple" page="Decorator.aspx">
				<pattern>*</pattern>
			</decorator>
		</decorators>
		<page-parsers>
			<parser default="true" type="SiteMesh.Parser.HtmlPageParser, SiteMesh" />
			<parser content-type="text/html" type="SiteMesh.Parser.HtmlPageParser, SiteMesh" />
		</page-parsers>
		<decorator-mappers>
			<!--
			<mapper type="SiteMesh.Mapper.PageDecoratorMapper, SiteMesh">
				<param name="property.1" value="meta.decorator" />
				<param name="property.2" value="decorator" />
			</mapper>
			
			<mapper type="SiteMesh.Mapper.FrameSetDecoratorMapper, SiteMesh">
			</mapper>
			
			<mapper type="SiteMesh.Mapper.AgentDecoratorMapper, SiteMesh">
				<param name="match.MSIE" value="ie" />
				<param name="match.Mozilla [" value="ns" />
				<param name="match.Opera" value="opera" />
				<param name="match.Lynx" value="lynx" />
			</mapper>

			<mapper type="SiteMesh.Mapper.PrintableDecoratorMapper, SiteMesh">
				<param name="decorator" value="printable" />
				<param name="parameter.name" value="printable" />
				<param name="parameter.value" value="true" />
			</mapper>

			<mapper type="SiteMesh.Mapper.RobotDecoratorMapper, SiteMesh">
				<param name="decorator" value="robot" />
			</mapper>

			<mapper type="SiteMesh.Mapper.ParameterDecoratorMapper, SiteMesh">
				<param name="decorator.parameter" value="decorator" />
				<param name="parameter.name" value="confirm" />
				<param name="parameter.value" value="true" />
			</mapper>

			<mapper type="SiteMesh.Mapper.FileDecoratorMapper, SiteMesh">
			</mapper>
			-->
			<mapper type="SiteMesh.Mapper.ConfigDecoratorMapper, SiteMesh"></mapper>
		</decorator-mappers>
	</sitemesh>
	<CCNet>
		<xslFiles>
			<file name="xsl\header.xsl" />
			<file name="xsl\compile.xsl" />
			<file name="xsl\unittests.xsl" />
			<file name="xsl\fit.xsl" />
			<file name="xsl\modifications.xsl" />
		</xslFiles>
		<projectPlugins>
			<plugin linkText="project stats" linkUrl="Statistics.aspx" />
		</projectPlugins>
		<buildPlugins>
			<plugin linkText="test details" linkUrl="Tests.aspx?/log=" />
			<plugin linkText="test timing" linkUrl="TestTiming.aspx?/log=" />
			<plugin linkText="original log" linkUrl="log/" />
			<plugin linkText="FxCop" linkUrl="FxCop.aspx?log=" />
		</buildPlugins>
	</CCNet>
</configuration>
