<cruisecontrol>
  <project>
   <name>Introvert</name> 
    <webURL>http://localhost/ccnet-dashboard/?_action_ViewProjectReport=true&amp;server=local&amp;project=Introvert</webURL> 
    <triggers>
    	<intervalTrigger seconds="60"/>
    </triggers>
    <workingDirectory>.</workingDirectory>
    <modificationDelaySeconds>2</modificationDelaySeconds>
    <sourcecontrol type="filesystem">
      <repositoryRoot>..\..\..\..</repositoryRoot>
    </sourcecontrol>
    <tasks>
    	<nant>
		<baseDirectory>..\..\..\..</baseDirectory> 
		<executable>tools\nant\nant.exe</executable>
		<targetList>
			<target>test</target>
			<target>reporting</target>
		</targetList>
	</nant>
    </tasks>
    <publishers>
    	<merge>
    		<files>
    			<file>..\..\..\..\build\*-results.xml</file>
    			<file>..\..\..\..\build\fxcop\*.xml</file>
    			<file>..\..\..\..\build\unittests\Coverage.xml</file>
    		</files>
    	</merge>
	<xmllogger />
    </publishers>
    <externalLinks>
		<externalLink name="IIS Root Web on Localhost" url="http://localhost/" />
		<externalLink name="Google" url="http://www.google.com/search?hl=en&amp;lr=&amp;q=%22CruiseControl.NET%22&amp;btnG=Search" />
    </externalLinks>
  </project>

  <project>
   <name>A failing project</name> 
    <triggers>
    	<intervalTrigger seconds="180" buildCondition="ForceBuild"/>
    </triggers>
    <tasks>
		<exec>
			<baseDirectory>..\..</baseDirectory> 
			<executable>fail.bat</executable>
			<buildArgs>Bonjour-Le-Monde</buildArgs>
		</exec>
    </tasks>
<!--
    <publishers>
      <xmllogger />
    </publishers>
-->  
  </project>


  <project>
   <name>Devenv project</name> 
    <webURL>http://localhost/ccnet-dashboard/?_action_ViewProjectReport=true&amp;server=local&amp;project=Project 1</webURL> 
    <triggers>
    	<intervalTrigger seconds="60"/>
    </triggers>
    <modificationDelaySeconds>2</modificationDelaySeconds>
    <sourcecontrol type="filesystem">
      <repositoryRoot>.</repositoryRoot>
    </sourcecontrol>
    <tasks>
    	<devenv>
	      <solutionfile>..\..\..\..\..\ccnet.sln</solutionfile>
	      <configuration>release</configuration>
	</devenv>
    </tasks>
    <publishers>
	<xmllogger />
    </publishers>
  </project>

   <project>
   <name>Nant Project</name> 
    <webURL>http://localhost/ccnet-dashboard/?_action_ViewProjectReport=true&amp;server=local&amp;project=Nant Project</webURL> 
    <triggers>
    	<intervalTrigger seconds="60"/>
    </triggers>
    <modificationDelaySeconds>2</modificationDelaySeconds>
    <sourcecontrol type="filesystem">
      <repositoryRoot>.</repositoryRoot>
    </sourcecontrol>
    <tasks>
	    <nant>
	      <baseDirectory>..\..</baseDirectory> 
	      <executable>..\..\..\..\tools\nant\nant.exe</executable>
	    </nant>
	</tasks>
    <publishers>
      <xmllogger />
    </publishers>
  </project>
</cruisecontrol>