<cruisecontrol>
  <project name="foo">
    <webURL>http://localhost/ccnet</webURL>
    <modificationDelaySeconds>10</modificationDelaySeconds>
    <sourcecontrol type="cvs" autoGetSource="true">
      <executable>C:\dev\ccnet\ccnet\tools\cvs.exe</executable>
      <cvsroot>:ext:exortech@ccnet:/cvsroot/ccnetcontrib</cvsroot>
      <module>ccnet</module>
      <workingDirectory>C:\dev\Copy of FAT\</workingDirectory>
      <webUrlBuilder type="viewcvs">
        <url>http://localhost:7899/viewcvs/ccnet/NUnitDemo/</url>
      </webUrlBuilder>
    </sourcecontrol>
    <tasks>
      <nant>
        <executable>C:\dev\ccnet\ccnet\tools\nant\nant.exe</executable>
        <baseDirectory>.</baseDirectory>
        <buildFile>ccnet.build</buildFile>
      </nant>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>C:\dev\ccnet\ccnet\build\ccnet.exe-results.xml</file>
        </files>
      </merge>
      <xmllogger>
        <logDir>log</logDir>
      </xmllogger>
      <email mailhost="foo" from="sreekanth@foo.com" includeDetails="true">
        <users>
          <user name="BuildGuru" group="buildmaster" address="buildguru@mycompany.com"/>
          <user name="JoeDeveloper" group="developers" address="joedeveloper@thoughtworks.com"/>
        </users>
        <groups>
          <group name="developers">
            <notifications>
              <NotificationType>Change</NotificationType>
            </notifications>
          </group>
          <group name="buildmaster" >
            <notifications>
              <NotificationType>Change</NotificationType>
            </notifications>
          </group>
        </groups>
      </email>
    </publishers>
  </project>
</cruisecontrol>