<cruisecontrol>
	<project name="FinalBuilder Example" webURL="http://localhost/ccnet">
		<sourcecontrol type="nullSourceControl" />    
		<tasks>

			<!-- Simple FinalBuilder Block: -->

			<FinalBuilder>
				<ProjectFile>C:\source\BuildProject\Build Process.fbz4</ProjectFile>
            </FinalBuilder>

			<!-- FinalBuilder Block with all options: -->

	        <FinalBuilder>
	        
				<ProjectFile>C:\source\BuildProject\Build Process.fbz5</ProjectFile>
                  
				<FBVersion>5</FBVersion> <!-- (Optional) Use FinalBuilder 5 -->
		 
	   			<ShowBanner>false</ShowBanner> <!-- (Optional) Don't output header information -->
				
				<FBVariables>
					<!-- Set the variable 'IsContinuousIntegrationBuild' in the FinalBuilder project -->
					<FBVariable name="IsContinuousIntegrationBuild" value="True" />
				</FBVariables>
			
				<Timeout>3600</Timeout> <!-- (Optional) Time the build out if it doesn't finish after an hour -->

				<DontWriteToLog>true</DontWriteToLog> <!-- (Optional) Don't write anything to the FinalBuilder project log -->
				
			</FinalBuilder>			
		
 		</tasks>
	</project>
</cruisecontrol>