<cruisecontrol>

	<!-- DEMO PROJECT - CONTAINS ALL OTHER GAME PROJECTS 25/05/2005 -->
	<project name="Demo All Configs">
		<artifactDirectory>C:\Program Files\CruiseControl.NET\webdashboard</artifactDirectory>

		<webURL>http://xx.xx.xx.xx/ccnet/</webURL>

		<!-- TRIGGER THE CHECK TO BUILD EVERY HOUR -->
		<triggers>
			<intervalTrigger seconds="3600" />
		</triggers>

		<!-- CHECK FOR CHANGES IN PERFORCE, EXCLUDE .CHM FILES SINCE THEY ARE CHECKED IN AS PART OF THIS BUILD -->
		<sourcecontrol type="filtered">
			<sourceControlProvider type="p4">
				<view>//Demo/...,//Libraries/Lowlevel/...</view>
				<client>CIS</client>
				<user>CIS</user>
				<port>xx.xx.xx.xx:1666</port>
				<applyLabel>false</applyLabel>
				<autoGetSource>true</autoGetSource>
				<forceSync>true</forceSync>
			</sourceControlProvider>
			<exclusionFilters>
				<pathFilter>
					<pattern>/**/*.chm</pattern>
				</pathFilter>
			</exclusionFilters>
		</sourcecontrol>

		<tasks>
			<!-- SET THE CORRECT DRIVE MAPPING IN CASE IT'S NOT THERE -->
			<exec>
				<executable>C:\Perforce\Workflow\CruiseControl\MapDrive.bat</executable>
				<buildTimeoutSeconds>10</buildTimeoutSeconds>
			</exec>

			<!-- BUILD THE DOCUMENTATION & ADD TO SOURCE CONTROL -->
			<exec>
				<executable>X:\Workflow\Doxygen\BuildDocs.bat</executable>
			</exec>

			<!-- RE-BUILD ALL THE CODE -->
			<devenv>
				<solutionfile>"X:\Demo\Demo.sln"</solutionfile>
				<configuration>"Debug Xenon"</configuration>
				<buildTimeoutSeconds>900</buildTimeoutSeconds>
			</devenv>
			<devenv>
				<solutionfile>"X:\Demo\Demo.sln"</solutionfile>
				<configuration>"Release Xenon"</configuration>
				<buildTimeoutSeconds>900</buildTimeoutSeconds>
			</devenv>
			<devenv>
				<solutionfile>"X:\Demo\Demo.sln"</solutionfile>
				<configuration>"debug win32"</configuration>
				<buildTimeoutSeconds>900</buildTimeoutSeconds>
			</devenv>
			<devenv>
				<solutionfile>"X:\Demo\Demo.sln"</solutionfile>
				<configuration>"release win32"</configuration>
				<buildTimeoutSeconds>900</buildTimeoutSeconds>
			</devenv>
    </tasks>

    <publishers>
      <!-- NOTIFY USERS VIA EMAIL -->
      <email from="xxxx@xxxxx.co.uk" mailhost="xxx.xxx.xxx.xx" includeDetails="TRUE">
        <users>
          <!-- user name="Chris Southall" group="buildmaster" address="xxxx@xxxxx.co.uk"/>-->
          <!--<user name="Jamie Lowes" group="developers" address="xxxx@xxxxx.co.uk"/>-->
          <!--<user name="Derek Morris" group="developers" address="xxxx@xxxxx.co.uk"/>-->
        </users>
        <groups>
          <group name="developers" notification="change" />
          <group name="buildmaster" notification="always" />
        </groups>
      </email>
      <!-- SPECIFY THE PUBLIC FOLDER THAT THE LOGS ARE IN FOR THE WEB DASHBOARD TO USE -->
				<xmllogger logDir="C:\Program Files\CruiseControl.NET\webdashboard\buildlogs" />
		</publishers>

	</project>

</cruisecontrol>