<cruisecontrol>
  <project publishExceptions="false">
    <name>Introvert</name> 
    <sourcecontrol type="nullSourceControl" />
    <tasks>
    	<exec>
		<executable>cmd.exe</executable>
		<buildArgs>/c pause</buildArgs>
		<buildTimeoutSeconds>1</buildTimeoutSeconds>
	</exec>
    </tasks>
    <publishers>
	<xmllogger />
    </publishers>
  </project>
</cruisecontrol>