<cruisecontrol>
  <project name="Refactoring" webURL="http://localhost/ccnet" publishExceptions="true">
    <sourcecontrol type="vss" autoGetSource="true">
   	<project>$/Refactoring</project>
   	<username>orogers</username>
   	<password></password>
   	<workingDirectory>c:\source\Refactoring</workingDirectory>
    </sourcecontrol>
    <tasks>
    	<devenv solutionfile="c:\dev\Refactoring\Refactoring.sln" configuration="debug" />
    	<nunit path="C:\Program Files\NUnit 2.2\bin\nunit-console.exe">
    		<assemblies>
    			<assembly>c:\dev\Refactoring\bin\Debug\Refactoring.exe</assembly>
    		</assemblies>
    	</nunit>
    </tasks>
    <publishers>
      <xmllogger logDir="log" />
    </publishers>
  </project>
</cruisecontrol>