<cruisecontrol>
  <project name="[PROJECT_NAME]">
    <sourcecontrol type="cvs">
      <executable>..\tools\cvs.exe</executable>
      <workingDirectory>[PROJECT_DIRECTORY]</workingDirectory>
    </sourcecontrol>
    <build type="nant">
      <executable>..\tools\nant\NAnt.exe</executable>
      <baseDirectory>..</baseDirectory>
      <buildFile>cruise.build</buildFile>
      <targetList>
        <target>run</target>
      </targetList>
      <!-- maximum time in milliseconds to let the nant process run -->
      <buildTimeout>300000</buildTimeout>
    </build>
    <history type="xmlhistory" historyDir="[HISTORY_DIR]" />
    <publishers>
      <email from="[BUILDMASTER@YOURCOMPANY.COM]" mailhost="[MAILHOST_ADDRESS]" includeDetails="[TRUE|FALSE]">
       <projectUrl>[PROJECT_URL]</projectUrl>
       <users>
          <user name="buildmaster" group="buildmaster" address="[BUILDMASTER@YOURCOMPANY.COM]"/>
          <user name="[DEVELOPER]" group="developers" address="[DEVELOPER@YOURCOMPANY.COM]"/>
        </users>
        <groups>
          <group name="developers" notification="change"/>
          <group name="buildmaster" notification="always"/>
        </groups>
      </email>
      <xmllogger>
        <logDir>..\ccnet-config\cclog</logDir>
      </xmllogger>
    </publishers>
    <modificationDelay>20000</modificationDelay>
    <sleepTime>30000</sleepTime>
  </project>
</cruisecontrol>