<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<configSections>
		<sectionGroup name="CCNet">
			<section name="buildPlugins" type="ThoughtWorks.CruiseControl.WebDashboard.Config.PluginsSectionHandler,ThoughtWorks.CruiseControl.WebDashboard" />
			<section name="projectPlugins" type="ThoughtWorks.CruiseControl.WebDashboard.Config.PluginsSectionHandler,ThoughtWorks.CruiseControl.WebDashboard" />
			<section name="serverPlugins" type="ThoughtWorks.CruiseControl.WebDashboard.Config.PluginsSectionHandler,ThoughtWorks.CruiseControl.WebDashboard" />
		</sectionGroup>
		<section name="xslFiles" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<xslFiles>
		<add key="one" value="foo.xsl"/>
		<add key="two" value="bar.xsl"/>
	</xslFiles>
	<CCNet>
		<buildPlugins>
			<plugin typeName="ThoughtWorks.CruiseControl.UnitTests.WebDashboard.Dashboard.StubBuildPlugin" assemblyFileName="ThoughtWorks.CruiseControl.UnitTests.dll" />
		</buildPlugins>
		<projectPlugins>
			<plugin typeName="ThoughtWorks.CruiseControl.UnitTests.WebDashboard.Dashboard.StubBuildPlugin" assemblyFileName="ThoughtWorks.CruiseControl.UnitTests.dll" />
		</projectPlugins>
		<serverPlugins>
			<plugin typeName="ThoughtWorks.CruiseControl.UnitTests.WebDashboard.Dashboard.StubBuildPlugin" assemblyFileName="ThoughtWorks.CruiseControl.UnitTests.dll" />
		</serverPlugins>
	</CCNet>
</configuration>
