<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<configSections>
		<sectionGroup name="CCNet">
			<section name="buildPlugins" type="ThoughtWorks.CruiseControl.WebDashboard.Config.PluginsSectionHandler,ThoughtWorks.CruiseControl.WebDashboard" />
			<section name="projectPlugins" type="ThoughtWorks.CruiseControl.WebDashboard.Config.PluginsSectionHandler,ThoughtWorks.CruiseControl.WebDashboard" />
			<section name="serverPlugins" type="ThoughtWorks.CruiseControl.WebDashboard.Config.PluginsSectionHandler,ThoughtWorks.CruiseControl.WebDashboard" />
			<section name="farmPlugins" type="ThoughtWorks.CruiseControl.WebDashboard.Config.PluginsSectionHandler,ThoughtWorks.CruiseControl.WebDashboard" />
		</sectionGroup>
		<section name="xslFiles" type="ThoughtWorks.CruiseControl.Core.Config.XslFilesSectionHandler,ThoughtWorks.CruiseControl.Core"/>
	</configSections>
	<xslFiles>
		<file name="xsl\header.xsl"/>
		<file name="xsl\compile.xsl"/>
		<file name="xsl\unittests.xsl"/>
		<file name="xsl\fit.xsl"/>
		<file name="xsl\modifications.xsl"/>
	</xslFiles>
	<CCNet>
		<buildPlugins>
			<plugin typeName="ThoughtWorks.CruiseControl.UnitTests.WebDashboard.Dashboard.StubBuildPlugin" assemblyFileName="ThoughtWorks.CruiseControl.UnitTests.dll" />
		</buildPlugins>
		<projectPlugins>
			<plugin typeName="ThoughtWorks.CruiseControl.UnitTests.WebDashboard.Dashboard.StubBuildPlugin" assemblyFileName="ThoughtWorks.CruiseControl.UnitTests.dll" />
		</projectPlugins>
		<serverPlugins>
			<plugin typeName="ThoughtWorks.CruiseControl.UnitTests.WebDashboard.Dashboard.StubBuildPlugin" assemblyFileName="ThoughtWorks.CruiseControl.UnitTests.dll" />
		</serverPlugins>
		<farmPlugins>
			<plugin typeName="ThoughtWorks.CruiseControl.UnitTests.WebDashboard.Dashboard.StubBuildPlugin" assemblyFileName="ThoughtWorks.CruiseControl.UnitTests.dll" />
		</farmPlugins>
	</CCNet>

	<system.diagnostics>
		<switches>
			<add name="CruiseControlSwitch" value="3" />	 <!-- Info: All warnings, errors and informational messages -->
		</switches>
	</system.diagnostics>
</configuration>
