<cruisecontrol>
  <project name="cc.net">
    <sourcecontrol type="cvs">
      <executable>..\tools\cvs.exe</executable>
      <workingDirectory>..</workingDirectory>
    </sourcecontrol>
    <build type="nant">
      <executable>..\tools\nant\NAnt.exe</executable>
      <baseDirectory>..</baseDirectory>
      <buildFile>ccnet.build</buildFile>
      <targetList>
        <target>all.ccnet</target>
      </targetList>
      <buildTimeout>300000</buildTimeout>
    </build>
    <publishers>
      <email from="ccnet@thoughtworks.com" mailhost="swastik.india.thoughtworks.com" includeDetails="true">
    	<projectUrl>http://torpedo/ccnet/</projectUrl>
        <users>
          <user name="buildmaster" group="buildmaster" address="nvanipenta@thoughtworks.com"/>
<!--          <user name="exortech" group="buildmaster" address="orogers@thoughtworks.com "/>
          <user name="miketwo" group="buildmaster" address="mctwo@thoughtworks.com"/>
          <user name="mroberts" group="buildmaster" address="mroberts@thoughtworks.com "/>
          <user name="asubrama" group="developers" address="asubrama@thoughtworks.com"/> 
          <user name="danmercier" group="developers" address="danmercier@thoughtworks.com "/>
          <user name="icartwri" group="developers" address="icartwright@thoughtworks.com "/>
          <user name="jeremy" group="developers" address="jstell-smith@thoughtworks.com"/>
          <user name="dnoakes" group="developers" address="dnoakes@thoughtworks.com "/>
          <user name="netbuzzme" group="developers" address="ajey@thoughtworks.com "/> 
          <user name="rfwan" group="developers" address="rwan@thoughtworks.com "/>
          <user name="tastapod" group="developers" address="tastapod@thoughtworks.com"/>
          <user name="wecaputo" group="developers" address="wecaputo@thoughtworks.com "/> -->
        </users>
        <groups>
          <group name="developers" notification="change"/>
          <group name="buildmaster" notification="always"/>
        </groups>
      </email>
      <xmllogger>
        <logDir>..\log</logDir>
      </xmllogger>
    </publishers>
    
    
    
    <sleep>300000</sleep>

  </project>
</cruisecontrol>
