<cruisecontrol>
  <project name="cc.net">
    <sourcecontrol type="cvs">
      <executable>..\tools\cvs.exe</executable>
      <workingDirectory>..</workingDirectory>
    </sourcecontrol>
    <build type="nant">
      <executable>..\tools\nant\NAnt.exe</executable>
      <baseDirectory>..</baseDirectory>
      <buildFile>ccnet-config\cruise.build</buildFile>
      <targetList>
        <target>run</target>
      </targetList>
      <buildTimeout>300000</buildTimeout>
    </build>
    <publishers>
      <email from="ccnet@thoughtworks.com" mailhost="smtp.telus.net" includeDetails="true">
    	<projectUrl>http://damnation/ccnet</projectUrl>
        <users>
          <user name="buildmaster" group="buildmaster" address="owen@exortech.com"/>
          <user name="exortech" group="developers" address="owen@exortech.com"/>
          <user name="mandersen" group="developers" address="mandersen@thoughtworks.com"/>
          <user name="dmercier" group="developers" address="dmercier@thoughtworks.com"/>
          <user name="rfwan" group="developers" address="rwan@thoughtworks.com"/>
        </users>
        <groups>
          <group name="developers" notification="change"/>
          <group name="buildmaster" notification="always"/>
        </groups>
      </email>
      <xmllogger>
        <logDir>..\ccnet-config\cclog</logDir>
      </xmllogger>
    </publishers>
    <history type="xmlhistory" historyDir="..\ccnet-config\cchistory" />
    <modificationDelay>20000</modificationDelay>
    <sleepTime>300000</sleepTime>
  </project>  
</cruisecontrol>
