body 
{
  text-align: center;
  margin-top:10px;
  margin-bottom:10px;
  color:#666666;
  background-color: #E0E0E0;
}

A:link 
{
	COLOR: #0000FF; text-decoration: underline;
}
A:visited 
{
	COLOR: #0000FF; text-decoration: underline;
}
A:active 
{
	COLOR: #0000FF; text-decoration: none;
}
A:hover 
{
	COLOR: #FF0000; text-decoration: none;
}

#pageWrapper 
{
  margin-left: auto; 
  margin-right: auto;
  width: 98%;
  text-align: left;
  background: #FFFFFF;
  border: 8px solid #FFFFFF;
}

#header
{
	background:#4E7DD1 url(images/menu_bg.gif) repeat-x scroll left bottom;
	margin:0;
	padding:0;
}

#headerTitle {
	background:transparent url(images/header_bg.gif) no-repeat scroll right top;
	height:60px;
	margin:0;
	padding:15px;
}

#headerTitle h1
{
	color:#FFFFFF;
	font-family:verdana,arial,sans-serif;
	font-size:28px;
	letter-spacing:-1px;
	margin:0;
	padding:0;
}

#headerTitle small
{
	color:#B1C6EB;
	font-family:verdana,arial,sans-serif;
	font-size:14px;
	letter-spacing:1px;
	margin:0;
	padding:0;
}

#header ul
{
	border-bottom:1px solid #0F3974;
	font-family:Verdana,sans-serif;
	font-size:14px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
	margin-bottom:0;
	margin-left:0;
	margin-top:1px;
	margin-right: 20px;
	padding:5px 0;
	text-align:right;
}

#header li
{
	display:inline;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
}

#header li a
{
	border-color:#0F3974 #0F3974 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#F1F6FE;
	margin-left:3px;
	padding:5px 15px;
}

#breadcrumbs
{
	margin:5px;
	padding:0;
}

#breadcrumbs li
{
	display:inline;
	margin:0;
	padding:0;
	padding-left:10px;
	background:transparent url(images/arrow.gif) no-repeat scroll 0 0.3em;	
}

#footer {
	background-color:#4E7DD1;
	clear:both;
	color:#B6CEF9;
	font-family:verdana,arial,sans-serif;
	font-size:11px;
	height:40px;
	padding:10px;
	margin-top:10px;
	line-height:18px;
	text-align:center;
}

#footer .right
{
	float:right;
}

#footer .left 
{
	float: left;
}

#footer a 
{
	color:#B6CEF9;
}

#content
{
	width:100%;
	color: #000000;
}

#sidebar
{
	width:200px;
}

#StatusGrid
{
	width:100%;
	border-collapse:collapse;
}

#StatusGrid th
{
	background-color:#2153AA;
	border:1px solid #0F3974;
	color:#FFFFFF;
	font-family:verdana,arial,sans-serif;
	font-size:12px;
	line-height:14px;
	margin:5px 5px 10px;
	padding:4px;	
	text-align:center;
}

#StatusGrid th a
{
	color:#FFFFFF;
}

#StatusGrid input
{
	font-family:verdana,arial,sans-serif;
	font-size:12px;
	width:50px;
}

h2
{
	background-color:#2153AA;
	border:1px solid #0F3974;
	color:#FFFFFF;
	font-family:verdana,arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	line-height:14px;
	margin:5px 5px 10px;
	padding:4px;	
}

.header-title
{
	color:#2153AA;
	font-family:verdana,arial,sans-serif;
	font-size:18px;
	font-weight:bold;
	line-height:18px;
	margin-bottom:10px;
	margin-top:5px;
}

.statusYellow
{
	padding-left:20px;
	background-image: url(images/bullet_black.png);
	background-repeat:no-repeat;
	color:#888888;
}

.statusRed
{
	color:#B22222;
	padding-left:20px;
	background-image: url(images/bullet_cross.png);
	background-repeat:no-repeat;
	font-weight:bold;
}

.statusGreen
{
	padding-left:20px;
	background-image: url(images/bullet_tick.png);
	background-repeat:no-repeat;
	color:#228B22;
	font-weight:bold;
}

.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: Consolas, "Courier New", Courier, Monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}

.csharpcode pre { margin: 0em; }

.csharpcode .rem { color: #008000; }

.csharpcode .kwrd { color: #0000ff; }

.csharpcode .str { color: #006080; }

.csharpcode .op { color: #0000c0; }

.csharpcode .preproc { color: #cc6633; }

.csharpcode .asp { background-color: #ffff00; }

.csharpcode .html { color: #800000; }

.csharpcode .attr { color: #ff0000; }

.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}

.csharpcode .lnum { color: #606060; }

.userList-table
{
	width:100%;
	border-collapse:collapse;
}
.userList-table th
{
	text-align:left;
	border-bottom: solid 1px black;
}
.userList-table td
{
	padding: 2px;
	cursor:pointer;
}
.userList-table .odd td
{
	background-color:#f0f0f0;
}
.userList-table .even td
{
	background-color:#ffffff;
}