<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<configSections>
		<section name="xslFiles" type="ThoughtWorks.CruiseControl.Core.Config.XslFilesSectionHandler,ThoughtWorks.CruiseControl.Core"/>
	</configSections>
	
	<!-- Specifies the stylesheets that are used to transform the build results when using the EmailPublisher -->
	<xslFiles>
		<file name="xsl\header.xsl" />
		<file name="xsl\compile.xsl" />
		<file name="xsl\unittests.xsl" />
		<file name="xsl\fit.xsl" />
		<file name="xsl\modifications.xsl" />
		<file name="xsl\fxcop-summary.xsl" />
	</xslFiles>
	
	<!-- Defines the port and protocol that the ccnet server will use to service remote requests -->
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp" port="21234">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full" />
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
   	
	<!-- Sets the trace level and trace listeners used for instrumenting the ccnet server.  The ccnet server logs to the event log and to file by default. -->
	<system.diagnostics>
		<switches>
<!--		<add name="CruiseControlSwitch" value="1" /> --> <!-- Error: Output only error messages --> 
<!--		<add name="CruiseControlSwitch" value="2" /> --> <!-- Warning: All warnings and errors --> 
<!--		<add name="CruiseControlSwitch" value="3" /> -->	 <!-- Info: All warnings, errors and informational messages -->
			<add name="CruiseControlSwitch" value="4" /> <!-- Debug: All messages -->
		</switches>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="EventLogListener" type="System.Diagnostics.EventLogTraceListener" />
				<add name="LogFileTraceListener" type="ThoughtWorks.CruiseControl.Core.Util.LogFileTraceListener,ThoughtWorks.CruiseControl.Core" initializeData="ccnet.log" />				
				<remove name="Default"/> 
			</listeners>
		</trace>
	</system.diagnostics>
	<startup>
		<supportedRuntime version="v2.0.50727" />
		<supportedRuntime version="v1.1.4322" />
		<supportedRuntime version="v1.0.3705" />
	</startup>

   	<appSettings>
		<!-- Without this appSetting ccservice will look for ccnet.config in its own directory. -->
	<!--	<add key="ccnet.config" value="c:\some\path\to\ccnet.config"/> -->
		<add key="service.name" value="CCService"/>
		<add key="remoting" value="on"/>
		<add key="ServerLogFilePath" value="ccnet.log" />		<!-- Used by the WebDashboard ServerLog plugin to locate the log file produced by the LogFileTraceListener (above) -->
		<add key="ServerLogFileLines" value="100" />			<!-- Used by the WebDashboard ServerLog plugin to determine how many lines from the log file should be read -->
		<add key="WatchConfigFile" value="true" />				<!-- Turns on or off the file watcher used to monitor the ccnet.config file -->
	</appSettings>
	
</configuration>
