<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<configSections>
		<section name="xslFiles" type="ThoughtWorks.CruiseControl.Core.Config.XslFilesSectionHandler,ThoughtWorks.CruiseControl.Core"/>
	</configSections>
	<xslFiles>
		<file name="xsl\header.xsl" />
		<file name="xsl\compile.xsl" />
		<file name="xsl\unittests.xsl" />
		<file name="xsl\fit.xsl" />
		<file name="xsl\modifications.xsl" />
		<file name="xsl\fxcop-summary.xsl" />
	</xslFiles>
	
	<startup>
		<supportedRuntime version="v1.1.4322" />
		<supportedRuntime version="v1.0.3705" />
		<requiredRuntime version="v1.0.3705" />
	</startup>
	
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp" port="21234" />
			</channels>
		</application>
	</system.runtime.remoting>
   	
   	<appSettings>
		<add key="ccnet.config" value="d:\src\ccnet\ccnet-config\ccnet.config"/>
		<add key="remoting" value="on"/>
		<add key="ServerLogFilePath" value="ccnet.log" />
		<add key="ServerLogFileLines" value="100" />
	</appSettings>
	
	<system.diagnostics>
		<switches>
	<!--		<add name="CruiseControlSwitch" value="1" /> --> <!-- Error: Output only error messages --> 
	<!--		<add name="CruiseControlSwitch" value="2" /> --> <!-- Warning: All warnings and errors --> 
				<add name="CruiseControlSwitch" value="3" />	 <!-- Info: All warnings, errors and informational messages -->
	<!--		<add name="CruiseControlSwitch" value="4" /> --> <!-- Debug: All messages -->
		</switches>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="EventLogListener" type="System.Diagnostics.EventLogTraceListener" />
				<add name="LogFileTraceListener" type="ThoughtWorks.CruiseControl.Core.Util.LogFileTraceListener,ThoughtWorks.CruiseControl.Core" initializeData="ccnet.log" />				
				<remove name="Default"/> 
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
