<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
  <!-- This is your CruiseControl.NET Server Configuration file. 
       Add your projects below! -->

  <project name="MyFirstProject"
           description="demoproject showing a small config">

    <!-- specify a state folder to prevent CCNet from saving it in Program Files\CruiseControl.NET\server 
	     programs may not standard write their data in it on windows Vista and up)
    -->
    <state type="state" directory="C:\CCNet\State" />


    <!-- specify a artifactDirectory to prevent CCNet from saving it in Program Files\CruiseControl.NET\server 
	     programs may not standard write their data in it on windows Vista and up)
    -->
    <artifactDirectory>C:\CCNet\BuildArtifacts\MyFirstProject</artifactDirectory>


    <triggers>
      <!-- check the source control every X time for changes, 
	     and run the tasks if changes are found -->
      <intervalTrigger
               name="continuous"
               seconds="30"
               buildCondition="IfModificationExists"
               initialSeconds="5"/>
    </triggers>

    <sourcecontrol 	type="nullSourceControl"
            alwaysModified="true">
    </sourcecontrol>

    <tasks>
      <exec>
        <!-- if you want the task to fail, ping an unknown server -->
        <executable>ping.exe</executable>
        <buildArgs>localhost</buildArgs>
        <buildTimeoutSeconds>15</buildTimeoutSeconds>
        <description>Pinging a server</description>
      </exec>
    </tasks>

    <publishers>
      <xmllogger />
      <artifactcleanup cleanUpMethod="KeepLastXBuilds"
                       cleanUpValue="50" />
    </publishers>

  </project>

</cruisecontrol>